<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion shadow" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center"  data-tab-id="home" href="/sixbeam/home">

            <div class="sidebar-brand-icon mb-auto">
                <img th:src="@{/img/whiteLogo.svg}" class="img-fluid">
<!--                <img th:src="@{/img/logo.svg}" class="img-fluid">-->

            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <div class="tab-content">
            <div id="Tap-home" class="tab-pane fade" role="tabpanel" aria-labelledby="home-Tab">
                <!-- Divider -->
                <!-- Heading -->
                <div class="sidebar-heading" th:text="${session.name}+'님 환영 합니다.'">

                </div>
            </div>
            <div id="Tap-HR" class="tab-pane fade" role="tabpanel" aria-labelledby="HR-Tab">
                <!-- Divider -->
                <!-- Heading -->
                <div class="sidebar-heading">
                    인사
                </div>
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse"
                       data-target="#collapsemanagement"
                       aria-expanded="true" aria-controls="collapsemanagement">
                        <i class="fas fa-fw fa-users"></i>
                        <span>관리</span>
                    </a>
                    <div id="collapsemanagement" class="collapse" aria-labelledby="headingmanagement"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/hr/empinfo/list">사원</a>
                            <a class="collapse-item" href="/hr/depart/list">부서</a>
                            <a class="collapse-item" href="/hr/position/list">직책</a>
                            <a class="collapse-item" href="/hr/reason/list">사유</a>
                            <a class="collapse-item" href="/hr/salaryId/list">급여식별자</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserecord"
                       aria-expanded="true" aria-controls="collapserecord">
                        <i class="fas fa-fw fa-users"></i>
                        <span>기록</span>
                    </a>
                    <div id="collapserecord" class="collapse" aria-labelledby="headingrecord"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/hr/salary/list">급여 작업</a>
<!--                            <a class="collapse-item" href="/hr/attendmgt/list">근태 수정</a>-->
                            <a class="collapse-item" href="/hr/attendmgtsearch/list">근태 조회</a>
                            <a class="collapse-item" href="/hr/workSchedule/list">출퇴근 조회</a>
                            <a class="collapse-item" href="/hr/vvacation">휴가 조회</a>
                        </div>
                    </div>
                </li>
            </div>
	        
            <div id="Tap-PD" class="tab-pane fade" role="tabpanel" aria-labelledby="PD-Tab">
                <!-- Heading -->
                <div class="sidebar-heading">
                    생산
                </div>
                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseitems"
                       aria-expanded="true" aria-controls="collapseitems">
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>품목 관리</span>
                    </a>
                    <div id="collapseitems" class="collapse" aria-labelledby="headingitems"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <!--<a class="collapse-item" href="/pd/item/itemlist">전체 품목 조회</a>-->
	                        <a class="collapse-item" href="/pd/finitem/finitemlist">완품</a>
	                        <a class="collapse-item" href="/pd/rawitem/rawitemlist">단품</a>
                        </div>
                    </div>
                </li>
	            <li class="nav-item">
		            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsebom"
		               aria-expanded="true" aria-controls="collapsebom">
			            <i class="fas fa-fw fa-clipboard-list"></i>
			            <span>자재 명세서</span>
		            </a>
		            <div id="collapsebom" class="collapse" aria-labelledby="collapsebom"
		                 data-parent="#accordionSidebar">
			            <div class="bg-white py-2 collapse-inner rounded">
				            <a class="collapse-item" href="/pd/bom/bomlist">자재 명세서 현황</a>
				            <a class="collapse-item" href="/pd/bom/new">자재 명세서 등록</a>
			            </div>
		            </div>
	            </li>
	            <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseorder"
                       aria-expanded="true" aria-controls="collapseorder">
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>작업 지시서</span>
                    </a>
                    <div id="collapseorder" class="collapse" aria-labelledby="headingorder"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/pd/order/orderlist">작업 지시서 현황</a>
                            <a class="collapse-item" href="/pd/order/new">작업 지시서 등록</a>
                        </div>
                    </div>
                </li>
	            <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseinout"
                       aria-expanded="true" aria-controls="collapseinout">
                        <i class="fas fa-fw fa-clipboard-list"></i>
                        <span>생산 관리</span>
                    </a>
                    <div id="collapseinout" class="collapse" aria-labelledby="headinginout"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/pd/inout/inoutlist">생산 현황/불출</a>
                        </div>
                    </div>
                </li>
            </div>
	        
            <div id="Tap-ST" class="tab-pane fade" role="tabpanel" aria-labelledby="ST-Tab">


                <!-- Heading -->
                <div class="sidebar-heading">
                    재고
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsech"
                       aria-expanded="true" aria-controls="collapsech">
                        <i class="fas fa-fw fa-cubes"></i>
                        <span>재고 관리</span>
                    </a>
                    <div id="collapsech" class="collapse" aria-labelledby="headingch"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/st/check/whitemlist">재고 현황</a>
                            <a class="collapse-item" href="/st/check/whlist">창고별 재고 현황</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsewr"
                       aria-expanded="true" aria-controls="collapsewr">
                        <i class="fas fa-fw fa-cubes"></i>
                        <span>창고 관리</span>
                    </a>
                    <div id="collapsewr" class="collapse" aria-labelledby="headingwr"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/st/whregist/create">창고 등록</a>
                            <a class="collapse-item" href="/st/whregist/list">창고 현황</a>
                            <a class="collapse-item" href="/st/whmove/list">창고이동 현황</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserl"
                       aria-expanded="true" aria-controls="collapserl">
                        <i class="fas fa-fw fa-cubes"></i>
                        <span>출하</span>
                    </a>
                    <div id="collapserl" class="collapse" aria-labelledby="headingrl"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/st/release/create">출하 등록</a>
                            <a class="collapse-item" href="/st/release/list">출하 현황</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseas"
                       aria-expanded="true" aria-controls="collapseas">
                        <i class="fas fa-fw fa-cubes"></i>
                        <span>AS</span>
                    </a>
                    <div id="collapseas" class="collapse" aria-labelledby="headingas"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/st/as/create">AS 등록</a>
                            <a class="collapse-item" href="/st/as/list">AS 현황</a>
                        </div>
                    </div>
                </li>
            </div>
            <div id="Tap-SS" class="tab-pane fade" role="tabpanel" aria-labelledby="SS-Tab">


                <!-- Heading -->
                <div class="sidebar-heading">
                    영업
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsees"
                       aria-expanded="true" aria-controls="collapsees">
                        <i class="fas fa-fw fa-handshake"></i>
                        <span>견적 관리</span>
                    </a>
                    <div id="collapsees" class="collapse" aria-labelledby="headinges"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ss/estimate/list">견적서 조회</a>
                            <a class="collapse-item" href="/ss/estimate/new">견적서 등록</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsess"
                       aria-expanded="true" aria-controls="collapsess">
                        <i class="fas fa-fw fa-handshake"></i>
                        <span>판매 관리</span>
                    </a>
                    <div id="collapsess" class="collapse" aria-labelledby="headingss"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ss/sale/list">판매 조회</a>
                            <a class="collapse-item" href="/ss/sale/new">판매 등록</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsemb"
                       aria-expanded="true" aria-controls="collapsess">
                        <i class="fas fa-fw fa-handshake"></i>
                        <span>개인 판매 관리</span>
                    </a>
                    <div id="collapsemb" class="collapse" aria-labelledby="headingmb"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ss/member/list">개인 판매 조회</a>
                            <a class="collapse-item" href="/ss/member/new">개인 판매 등록</a>
                        </div>
                    </div>
                </li>
            </div>
            <div id="Tap-PUR" class="tab-pane fade" role="tabpanel" aria-labelledby="PUR-Tab">


                <!-- Heading -->
                <div class="sidebar-heading">
                    구매
                </div>


                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseout"
                       aria-expanded="true" aria-controls="collapseout">
                        <i class="fas fa-fw fa-dollar-sign"></i>
                        <span>발주</span>
                    </a>
                    <div id="collapseout" class="collapse" aria-labelledby="headingout"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/pur/orinput/list">발주 조회</a>
                            <a class="collapse-item" href="/pur/orinput/create">발주 입력</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsein"
                       aria-expanded="true" aria-controls="collapsein">
                        <i class="fas fa-fw fa-dollar-sign"></i>
                        <span>구매</span>
                    </a>
                    <div id="collapsein" class="collapse" aria-labelledby="headingin"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/pur/input/list">구매 조회</a>
                            <a class="collapse-item" href="/pur/input/create">구매 입력</a>
                        </div>
                    </div>
                </li>
            </div>

            <div id="Tap-AC" class="tab-pane fade" role="tabpanel" aria-labelledby="AC-Tab">

                <!-- Heading -->
                <div class="sidebar-heading">
                    회계
                </div>

                <!-- Nav Item - Pages Collapse Menu -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseacac"
                       aria-expanded="true" aria-controls="collapseacac">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                        <span>거래처</span>
                    </a>
                    <div id="collapseacac" class="collapse" aria-labelledby="headingacac"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ac/account/list">거래처 목록</a>
                            <a class="collapse-item" href="/ac/account/registerform">거래처 등록</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsebsis"
                       aria-expanded="true" aria-controls="collapsebsis">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                        <span>재무제표</span>
                    </a>
                    <div id="collapsebsis" class="collapse" aria-labelledby="headingbsis"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ac/bs/balanceSheet">재무상태표</a>
                            <a class="collapse-item" href="/ac/is/incomeStatement">손익계산서</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseacss"
                       aria-expanded="true" aria-controls="collapseacss">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                        <span>매출 관리</span>
                    </a>
                    <div id="collapseacss" class="collapse" aria-labelledby="headingacss"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ac/sales/salesSlip">매출 전표</a>
                            <a class="collapse-item" href="/ac/receivables/receivables">거래처별 채권</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseacpur"
                       aria-expanded="true" aria-controls="collapseacpur">
                        <i class="fas fa-fw fa-pencil-alt"></i>
                        <span>매입 관리</span>
                    </a>
                    <div id="collapseacpur" class="collapse" aria-labelledby="headingacpur"
                         data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/ac/pur/purSlip">매입 전표</a>
                            <a class="collapse-item" href="/ac/payables/payables">거래처별 채무</a>
                        </div>
                    </div>
                </li>
            </div>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline-block">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </div>
    </ul>

</th:block>

</html>
