<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="topbarFragment">


    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item mr-sm-1">
                <a class="nav-link" data-tab-id="HR" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>인사</span>
                </a>
            </li>
            <li class="nav-item mr-sm-1">
                <a class="nav-link" data-tab-id="PD" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>생산</span>
                </a>
            </li>
            <li class="nav-item mr-sm-1">
                <a class="nav-link" data-tab-id="ST" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>재고</span>
                </a>
            </li>
            <li class="nav-item mr-sm-1">
                <a class="nav-link " data-tab-id="SS" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>영업</span>
                </a>
            </li>

            <li class="nav-item mr-sm-1">
                <a class="nav-link " data-tab-id="PUR" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>구매</span>
                </a>
            </li>

            <li class="nav-item left mr-sm-6">
                <a class="nav-link" data-tab-id="AC" href="#">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>회계</span>
                </a>
            </li>

            <div class="topbar-divider d-none d-sm-block ml-sm-1" ></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow ml-sm-0">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">user</span>
<!--                    <img class="img-profile rounded-circle"-->
<!--                         src="img/undraw_profile.svg">-->
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                     aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Settings
                    </a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        Activity Log
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>
    </nav>

<!--    </nav>-->

<!--    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">-->
<!--        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">-->
<!--            <i class="fa fa-bars"></i>-->
<!--        </button>-->
<!--        <div class="tab-content">-->
<!--            <div class="tab-pane fade" id="HR-Panel" role="tabpanel" aria-labelledby="HR-Tab">-->
<!--                &lt;!&ndash; 인사 탭 내용 &ndash;&gt;-->
<!--                <ul class="nav nav-tabs" id="HRTab" role="tablist">-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="home-tab" data-toggle="tab" data-target="#HRTab"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="HR-tab" data-toggle="tab" data-target="#HRrecod" type="button"-->
<!--                                role="tab"-->
<!--                                aria-controls="HR" aria-selected="false">기록-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="PD-Panel" role="tabpanel" aria-labelledby="PD-Tab">-->
<!--                &lt;!&ndash; 생산 탭 내용 &ndash;&gt;-->
<!--                <ul class="nav nav-tabs" id="PDTab" role="tablist">-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="item-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">품목 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="PD-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">생산 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="QC-tab" data-toggle="tab" data-target="#HR" type="button"-->
<!--                                role="tab"-->
<!--                                aria-controls="HR" aria-selected="false">품질 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="ST-Panel" role="tabpanel" aria-labelledby="ST-Tab">-->
<!--                <ul class="nav nav-tabs" id="STTab" role="tablist">-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="WH-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">창고 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="SS-Panel" role="tabpanel" aria-labelledby="SS-Tab">-->
<!--                <ul class="nav nav-tabs" id="SSTab" role="tablist">-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="ES-tab" data-toggle="tab" data-target="#home" type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">견적-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="SS-tab" data-toggle="tab" data-target="#home" type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">판매-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="PUR-Panel" role="tabpanel" aria-labelledby="PUR-Tab">-->
<!--                <ul class="nav nav-tabs" id="PURTab" role="tablist">-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="OR-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">품목 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="IN-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="home" aria-selected="false">생산 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="tab-pane fade"  role="tabpanel" aria-labelledby="AC-Tab" id="AC-Panel">-->
<!--                <ul class="nav nav-tabs" id="ACTab" role="tablist">-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="BSIS-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="AC" aria-selected="false">주요 재무 재표-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="ACSS-tab" data-toggle="tab" data-target="#home"-->
<!--                                type="button"-->
<!--                                role="tab" aria-controls="AC" aria-selected="false">매출 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="ACPUR-tab" data-toggle="tab" data-target="#HR" type="button"-->
<!--                                role="tab"-->
<!--                                aria-controls="AC" aria-selected="false">매입 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                    <li class="nav-item" role="presentation">-->
<!--                        <button class="nav-link" id="ACCount-tab" data-toggle="tab" data-target="#HR" type="button"-->
<!--                                role="tab"-->
<!--                                aria-controls="AC" aria-selected="false">거래처 관리-->
<!--                        </button>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->


    <!-- End of Topbar -->

</th:block>
</html>