<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">구매</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">구매 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTablePur" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>체크</th>
                        <th>일자</th>
                        <th>구매코드</th>
                        <th>발주코드</th>
                        <th>창고코드</th>
                        <th>진행상태</th>
                        <th>전표발행일자</th>
                        <th>전표발행여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="input : ${inputEntity}">
                        <td>
                            <input th:type="checkbox" th:name="selectedPur" th:value="${input.inputPurCd}">
                        </td>
                        <td th:text="${input.inputPurDt}"></td>
                        <td>
                            <a href="#" id="detailInputCd" th:data-id="${input.inputPurCd}">
                                <span th:text="${input.inputPurCd}">></span>
                            </a>
                        </td>
                        <td th:text="${input.orinputEntity.orinputCd}"></td>
                        <td th:text="${input.WhregistEntity.whregistCd}"></td>
                        <td th:text="${input.inputPrgSt}"></td>
                        <td th:text="${input.inputSiDt}"></td>
                        <td th:text="${input.inputSiFl}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 신규 등록 모달 -->
            <div class="modal fade" id="createPurModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newestimateLabel">구매 신규 등록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="formEntry" th:action="@{/pur/input/save}" th:object="${InputDto}" method="post">
                                <div class="form-group row">
                                    <label for="currentDate" class="col-sm-2 col-form-label">구매 등록 일자</label>
                                    <div class="col-sm-10">
                                        <input type="date" name="inputPurDt" class="form-control" id="currentDate">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="orinputCd" class="col-sm-2 col-form-label">발주 코드</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="orinputEntity.orinputCd" class="form-control" id="orinputCd" readonly>
                                        <input type="hidden" name="inputPrgSt" class="form-control" value="대기중">
                                        <input type="hidden" name="etc" class="form-control" value="조회">
                                    </div>
                                    <div class="col-sm-2">
                                        <button type="button" id="selectOrinputCd" class="btn btn-primary" data-toggle="modal"
                                                data-target="#orinputdetail">발주 선택
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="orinputDate" class="col-sm-2 col-form-label">발주일자</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="orinputDate" readonly>
                                    </div>
                                    <label for="oinputname" class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="oinputname" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="whregistCodeSelectBox" class="col-sm-2 col-form-label">창고 코드</label>
                                    <div class="col-sm-4">
                                        <input type="text" name="whregistEntity" class="form-control" id="whregistCode" list="whregistCodeSelectBox"/>
                                        <datalist id="whregistCodeSelectBox">
                                            <option th:each="whregistlist : ${getwhregistlist}" th:value="${whregistlist.whregistCd}"
                                                    th:text="${whregistlist.whregistNm}"></option>
                                        </datalist>
                                    </div>
                                    <label class="col-sm-2 col-form-label">창고명</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="whregistName">
                                    </div>
                                </div>
                                <table class="table item">
                                    <thead>
                                    <tr>
                                        <th>품목 명</th>
                                        <th>품목 코드</th>
                                        <th>규격</th>
                                        <th>수량</th>
                                        <th>단가</th>
                                        <th>공급가액</th>
                                        <th>부가세</th>
                                        <th>총액</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-12 text-md-right">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                        <button type="button" class="btn btn-danger reset">초기화</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 수정창 모달 -->
            <div class="modal fade" id="updateInput" tabindex="-1" aria-labelledby="subjectinputLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectinputLabel">구매 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form class="formEntry" th:action="@{/pur/input/update}" th:object="${InputDto}" method="post">
                                        <div class="form-group row">
                                            <label for="updateCurrentDate" class="col-sm-2 col-form-label">구매일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="inputPurDt" class="form-control" id="updateCurrentDate" readonly>
                                            </div>
                                            <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updatename" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateaccountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountCode" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">거래처</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">발주 요청 일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="orinputReqDate" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">납기 일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="orinputDlvyDate" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">발주 코드</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="orinputEntity" class="form-control" id="orinputCode" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">창고 코드</label>
                                            <div class="col-sm-4">
                                                <select name="whregistEntity" class="selectbox form-control" id="updatewhregistCode">
                                                    <option></option>
                                                    <option th:each="whregistlist : ${getwhregistlist}" th:value="${whregistlist.whregistCd}"
                                                            th:text="${whregistlist.whregistNm}"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <table class="table item">
                                            <thead>
                                            <tr>
                                                <th>품목 코드</th>
                                                <th>품목 명</th>
                                                <th>규격</th>
                                                <th>수량</th>
                                                <th>단가</th>
                                                <th>공급가액</th>
                                                <th>부가세</th>
                                                <th>총액</th>
                                                <th>비고</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="col-sm-12 text-md-right">
                                            <button type="submit" class="btn btn-primary">저장</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 발주 목록 불러오는 Modal -->
            <div class="modal fade" id="orinputdetail" tabindex="-1" aria-labelledby="subjectorinputLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectorinputLabel">발주 목록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table item table-bordered" id="dataTable" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>발주 코드</th>
                                                <th>거래처 명</th>
                                                <th>등록 사원</th>
                                                <th>공급가액</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="orinput : ${orinputEntities}">
                                                <td>
                                                    <a href="#" id="detailOrinputCd"
                                                       th:data-id="${orinput.orinputCd}">
                                                        <span th:text="${orinput.orinputCd}"></span>
                                                    </a>
                                                </td>
                                                <td th:text="${orinput.accountEntity.accountNm}"></td>
                                                <td th:text="${orinput.empInfoEntity.empInfoNm}"></td>
                                                <td th:text="${#numbers.formatDecimal(orinput.orinputSp, 0, 'COMMA', 0, 'POINT')} + '원'"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 삭제하는 모달 -->
            <div class="modal fade" id="deletePurModal" tabindex="-1" aria-labelledby="deletePurModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deletePurModalLabel">구매 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>선택한 구매 정보를 삭제하시겠습니까?</p>
                            <form class="deletePurForm" th:action="@{/pur/input/delete}" method="post">
                                <input type="hidden" id="selectedPur" name="selectedinput">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="purcddelete">삭제</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 성공 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="successModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 실패 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="failModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</html>