<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">구매</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">발주 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table item table-bordered" id="dataTablePur" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>체크</th>
                        <th>발주코드</th>
                        <th>발주요청일자</th>
                        <th>발주일자</th>
                        <th>담당자</th>
                        <th>품목코드</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>총액</th>
                        <th>거래처명</th>
                        <th>납기일자</th>
                        <th>적요</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orinput : ${orinputEntity}">
                        <td>
                            <input th:type="checkbox" th:name="selectedPur" th:value="${orinput.orinputCd}">
                        </td>
                        <td>
                            <a href="#" id="detailOrinputCd" th:data-id="${orinput.orinputCd}">
                                <span th:text="${orinput.orinputCd}">></span>
                            </a>
                        </td>
                        <td th:text="${orinput.orinputReqDt}"></td>
                        <td th:text="${orinput.orinputOrDt}"></td>
                        <td th:text="${orinput.empInfoEntity.empInfoNm}"></td>
                        <td th:text="${orinput.itemEntity.itemCd}"></td>
                        <td th:text="${orinput.orinputAmt}"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputUp,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputSp,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputSum,0,'COMMA')}원|"></td>
                        <td th:text="${orinput.accountEntity.accountNm}"></td>
                        <td th:text="${orinput.orinputDlvyDt}"></td>
                        <td th:text="${orinput.orinputEtc}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 신규 등록 모달 -->
            <div class="modal fade" id="createPurModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newestimateLabel">발주 신규 등록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="formEntry" th:action="@{/pur/orinput/save}" th:object="${orinputForm}" method="post">
                                <div class="form-group row">
                                    <label for="currentDate" class="col-sm-2 col-form-label">발주 일자</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" id="currentDate">
                                    </div>
                                    <label for="orinputname" class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-4">
                                        <select id="orinputname" class="form-control">
                                            <option value="">담당자 선택</option>
                                            <option th:each="emplist : ${getemplist}" th:value="${emplist.empInfoId}"
                                                    th:text="${emplist.empInfoNm}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="accountCodeSelectBox" class="col-sm-2 col-form-label">거래처 코드</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="accountCode" list="accountCodeSelectBox"/>
                                        <datalist id="accountCodeSelectBox">
                                            <option th:each="actlist : ${getactlist}" th:value="${actlist.accountCd}"
                                                    th:text="${actlist.accountNm}"></option>
                                        </datalist>
                                    </div>
                                    <label class="col-sm-2 col-form-label">거래처</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="accountName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="accountCodeSelectBox" class="col-sm-2 col-form-label">발주 요청 일자</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" id="orinputReqDate">
                                    </div>
                                    <label class="col-sm-2 col-form-label">납기 일자</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" id="orinputDlvyDate">
                                    </div>
                                </div>
                                <table class="table item" id="orinputitem">
                                    <thead class="table-dark">
                                    <tr>
                                        <th>품목 코드</th>
                                        <th>품목 명</th>
                                        <th>규격</th>
                                        <th>수량</th>
                                        <th>단가</th>
                                        <th>공급가액</th>
                                        <th>부가세</th>
                                        <th>총액</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" class="RegisDate" th:field="*{orinputDtos[0].orinputOrDt}">
                                            <input type="hidden" class="AccountCode" th:field="*{orinputDtos[0].accountEntity.accountCd}">
                                            <input type="hidden" class="EmpInfoId" th:field="*{orinputDtos[0].empInfoEntity.empInfoId}">
                                            <input type="hidden" class="OrinputReqDate" th:field="*{orinputDtos[0].orinputReqDt}">
                                            <input type="hidden" class="OrinputDlvyDate" th:field="*{orinputDtos[0].orinputDlvyDt}">
                                            <select class="selectbox form-control" th:name="'orinputDtos[' + 0 + '].itemEntity.itemCd'">
                                                <option value="">품목 선택</option>
                                                <option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemCd}"
                                                        th:data-itemNm="${itemlist.itemNm}"
                                                        th:data-itemStnd="${itemlist.itemStnd}"
                                                        th:data-itemUp="${itemlist.itemUp}"
                                                        th:text="${itemlist.itemCd}"></option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control itemname"></td>
                                        <td><input type="text" class="form-control itemstnd"></td>
                                        <td><input type="text" class="form-control itemamt" th:field="*{orinputDtos[0].orinputAmt}"></td>
                                        <td><input type="text" class="form-control itemup" th:field="*{orinputDtos[0].orinputUp}"></td>
                                        <td><input type="text" class="form-control itemsp" th:field="*{orinputDtos[0].orinputSp}"></td>
                                        <td><input type="text" class="form-control itemvar" th:field="*{orinputDtos[0].orinputVat}"></td>
                                        <td><input type="text" class="form-control itemsum" th:field="*{orinputDtos[0].orinputSum}"></td>
                                        <td><input type="text" class="form-control" th:field="*{orinputDtos[0].orinputEtc}"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="hidden" class="RegisDate" th:field="*{orinputDtos[1].orinputOrDt}">
                                            <input type="hidden" class="AccountCode" th:field="*{orinputDtos[1].accountEntity.accountCd}">
                                            <input type="hidden" class="EmpInfoId" th:field="*{orinputDtos[1].empInfoEntity.empInfoId}">
                                            <input type="hidden" class="OrinputReqDate" th:field="*{orinputDtos[1].orinputReqDt}">
                                            <input type="hidden" class="OrinputDlvyDate" th:field="*{orinputDtos[1].orinputDlvyDt}">
                                            <select class="selectbox form-control" th:name="'orinputDtos[' + 1 + '].itemEntity.itemCd'">
                                                <option value="">품목 선택</option>
                                                <option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemCd}"
                                                        th:data-itemNm="${itemlist.itemNm}"
                                                        th:data-itemStnd="${itemlist.itemStnd}"
                                                        th:data-itemUp="${itemlist.itemUp}"
                                                        th:text="${itemlist.itemCd}"></option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control itemname"></td>
                                        <td><input type="text" class="form-control itemstnd"></td>
                                        <td><input type="text" class="form-control itemamt" th:field="*{orinputDtos[1].orinputAmt}"></td>
                                        <td><input type="text" class="form-control itemup" th:field="*{orinputDtos[1].orinputUp}"></td>
                                        <td><input type="text" class="form-control itemsp" th:field="*{orinputDtos[1].orinputSp}"></td>
                                        <td><input type="text" class="form-control itemvar" th:field="*{orinputDtos[1].orinputVat}"></td>
                                        <td><input type="text" class="form-control itemsum" th:field="*{orinputDtos[1].orinputSum}"></td>
                                        <td><input type="text" class="form-control" th:field="*{orinputDtos[1].orinputEtc}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="3">합계</th>
                                        <th id="totalAmt"></th>
                                        <th id="totalUp"></th>
                                        <th id="totalSp"></th>
                                        <th id="totalVat"></th>
                                        <th id="totalSum"></th>
                                        <th></th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type='button'
                                               value='품목 추가'
                                               class="btn btn-secondary"
                                               id="addnewrowbtn">
                                        <input type='button'
                                               value='품목 삭제'
                                               class="btn btn-danger"
                                               id="deleterowbtn">
                                    </div>
                                    <div class="col-sm-6 text-md-right">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                        <button type="button" class="btn btn-danger reset">초기화</button>
                                    </div>
                                </div>

                            </form>

                            <!-- Button trigger modal -->
                            <div class="modal fade" id="cannotDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalLabel">삭제 불가</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            더 이상 삭제할 수 없습니다.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 수정창 모달 -->
            <div class="modal fade" id="updateOrinput" tabindex="-1" aria-labelledby="subjectorinputLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectorinputLabel">발주 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form class="formEntry" th:action="@{/pur/orinput/update}" th:object="${orinputForm}" method="post">
                                        <div class="form-group row">
                                            <label for="updateCurrentDate" class="col-sm-2 col-form-label">발주일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateCurrentDate" readonly>
                                            </div>
                                            <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updatename" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateaccountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountCode" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">거래처</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">발주 요청 일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateorinputReqDate" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">납기 일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateorinputDlvyDate" readonly>
                                            </div>
                                        </div>
                                        <table class="table item">
                                            <thead class="table-dark">
                                            <tr>
                                                <th>품목 코드</th>
                                                <th>품목 명</th>
                                                <th>규격</th>
                                                <th>수량</th>
                                                <th>단가</th>
                                                <th>공급가액</th>
                                                <th>부가세</th>
                                                <th>총액</th>
                                                <th>비고</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="col-sm-12 text-md-right">
                                            <button type="submit" class="btn btn-primary">저장</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 삭제하는 모달 -->
            <div class="modal fade" id="deletePurModal" tabindex="-1" aria-labelledby="deletePurModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deletePurModalLabel">발주 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>선택한 발주 정보를 삭제하시겠습니까?</p>
                            <form class="deletePurForm" th:action="@{/pur/orinput/delete}" method="post">
                                <input type="hidden" id="selectedPur" name="selectedOrinput">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="purcddelete">삭제</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 성공 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="successModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 실패 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="failModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>