<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <div>
        <button formaction="#" class="btn btn-primary my-2">신규</button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">발주 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>발주코드</th>
                        <th>발주요청일자</th>
                        <th>발주일자</th>
                        <th>담당자</th>
                        <th>품목코드</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>부가세</th>
                        <th>총액</th>
                        <th>거래처코드</th>
                        <th>납기일자</th>
                        <th>적요</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orinput : ${orinputEntity}">
                        <td th:text="${orinput.orinputCd}"></td>
                        <td th:text="${orinput.orinputReqDt}"></td>
                        <td th:text="${orinput.orinputOrDt}"></td>
                        <td th:text="${orinput.empInfoEntity.empInfoNm}"></td>
                        <td th:text="${orinput.itemEntity.itemCd}"></td>
                        <td th:text="${orinput.orinputAmt}"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputUp,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputSp,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputVat,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputSum,0,'COMMA')}원|"></td>
                        <td th:text="${orinput.accountEntity.accountCd}"></td>
                        <td th:text="${orinput.orinputDlvyDt}"></td>
                        <td th:text="${orinput.orinputEtc}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>