<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">구매</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary">
            신규
        </button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteOrinputModal">
            삭제
        </button>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">발주 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table item table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>체크</th>
                        <th>발주코드</th>
                        <th>발주요청일자</th>
                        <th>발주일자</th>
                        <th>담당자</th>
                        <th>품목코드</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>부가세</th>
                        <th>총액</th>
                        <th>거래처코드</th>
                        <th>납기일자</th>
                        <th>적요</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orinput : ${orinputEntity}">
                        <td>
                            <input th:type="checkbox" th:name="selectedOrinPut" th:value="${orinput.orinputCd}">
                        </td>
                        <td>
                            <a href="#" id="detailOrinputCd" th:data-id="${orinput.orinputCd}">
                                <span th:text="${orinput.orinputCd}">></span>
                            </a>
                        </td>
                        <td th:text="${orinput.orinputReqDt}"></td>
                        <td th:text="${orinput.orinputOrDt}"></td>
                        <td th:text="${orinput.empInfoEntity.empInfoNm}"></td>
                        <td th:text="${orinput.itemEntity.itemCd}"></td>
                        <td th:text="${orinput.orinputAmt}"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputUp,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputSp,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputVat,0,'COMMA')}원|"></td>
                        <td th:text="|${#numbers.formatInteger(orinput.orinputSum,0,'COMMA')}원|"></td>
                        <td th:text="${orinput.accountEntity.accountCd}"></td>
                        <td th:text="${orinput.orinputDlvyDt}"></td>
                        <td th:text="${orinput.orinputEtc}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="subjectestimateLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectestimateLabel">발주 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form class="formEntry" th:action="@{/pur/orinput/update}" th:object="${orinputForm}" method="post">
                                        <div class="form-group row">
                                            <label for="updateCurrentDate" class="col-sm-2 col-form-label">발주일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateCurrentDate" readonly>
                                            </div>
                                            <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updatename" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateaccountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountCode" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">거래처</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">발주 요청 일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="orinputReqDate" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">납기 일자</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="orinputDlvyDate" readonly>
                                            </div>
                                        </div>
                                        <table class="table item">
                                            <thead>
                                            <tr>
                                                <th>품목 코드</th>
                                                <th>품목 명</th>
                                                <th>규격</th>
                                                <th>수량</th>
                                                <th>단가</th>
                                                <th>공급가액</th>
                                                <th>부가세</th>
                                                <th>총액</th>
                                                <th>비고</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="col-sm-12 text-md-right">
                                            <button type="submit" class="btn btn-primary">저장</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 삭제하는 모달 -->
            <div class="modal fade" id="deleteOrinputModal" tabindex="-1" aria-labelledby="deleteOrinputModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteOrinputModalLabel">발주 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>선택한 발주 정보를 삭제하시겠습니까?</p>
                            <form class="deleteOrinputForm" th:action="@{/pur/orinput/delete}" method="post">
                                <input type="hidden" id="selectedOrinputInput" name="selectedOrinput">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="orinputcddelete">삭제</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade hide" tabindex="-1" role="dialog" id="successModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>데이터가 성공적으로 삭제되었습니다.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade hide" tabindex="-1" role="dialog" id="failModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</html>