<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <form class="AsformEntry" th:action="@{/st/as/save}" th:object="${asForm}" method="post">
                <div class="form-group row">
                    <label for="currentDate" class="col-sm-2 col-form-label">AS 등록일자</label>
                    <div class="col-sm-4">
                        <input type="date" name="asDt" class="form-control" id="currentDate">
                    </div>
                    <label for="empInfoId" class="col-sm-2 col-form-label">담당자</label>
                    <div class="col-sm-4">
                        <select id="empInfoId" name="empInfoEntity.empInfoNm" class="form-control">
                            <option th:each="emplist : ${getemplist}" th:value="${emplist.empInfoId}"
                                    th:text="${emplist.empInfoNm}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="accountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="accountCode" name="accountEntity.accountCd"
                               list="accountCodeSelectBox"/>
                        <datalist id="accountCodeSelectBox">
                            <option th:each="actlist : ${getactlist}" th:value="${actlist.accountCd}"
                                    th:text="${actlist.accountNm}"></option>
                        </datalist>
                    </div>
                    <label class="col-sm-2 col-form-label">거래처</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="accountName">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="ascmptDt" class="col-sm-2 col-form-label">완료 예정일자</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" name="ascmptDt" id="ascmptDt">
                    </div>
                    <label class="col-sm-2 col-form-label">진행상태</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="asSt" id="asSt">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">접수제목</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="asTi" id="asTi">
                    </div>
                    <label for="whregistCode" class="col-sm-2 col-form-label">창고명</label>
                    <div class="col-sm-4">
                        <select id="whregistCode" name="whregistEntity.whregistCd" class="form-control">
                            <option th:each="whregistlist : ${getwhregistlist}" th:value="${whregistlist.whregistCd}"
                                    th:text="${whregistlist.whregistNm}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">접수내용</label>
                    <div class="col-sm-10">
                        <textarea name="asMo" id="asMo" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <table class="table Asitem" id="item">
                    <thead>
                    <tr>
                        <th>품목코드</th>
                        <th>품목명</th>
                        <th>규격</th>
                        <th>수량</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="hidden" class="RegisDate" th:field="*{asDtos[0].asDt}">
                            <input type="hidden" class="AccountCode" th:field="*{asDtos[0].accountEntity.accountCd}">
                            <input type="hidden" class="EmpInfoId" th:field="*{asDtos[0].empInfoEntity.empInfoId}">
                            <input type="hidden" class="WhregistCode" th:field="*{asDtos[0].whregistEntity.whregistCd}">
                            <input type="hidden" class="AsSt" th:field="*{asDtos[0].asSt}">
                            <input type="hidden" class="AscmptDt" th:field="*{asDtos[0].ascmptDt}">
                            <input type="hidden" class="AsTi" th:field="*{asDtos[0].asTi}">
                            <input type="hidden" class="AsMo" th:field="*{asDtos[0].asMo}">
                            <input type="hidden" class="form-control itemup">

                            <select class="selectbox form-control" th:name="'asDtos[' + 0 + '].itemEntity.itemCd'">
                                <option value="">품목 선택</option>
                                <option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemCd}"
                                        th:data-itemNm="${itemlist.itemNm}"
                                        th:data-itemStnd="${itemlist.itemStnd}"
                                        th:text="${itemlist.itemCd}"></option>
                            </select>
                        </td>
                        <td><input type="text" class="form-control itemname"></td>
                        <td><input type="text" class="form-control itemstnd"></td>
                        <td><input type="text" class="form-control itemamt" th:field="*{asDtos[0].asAmt}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <th colspan="3">합계</th>
                        <th id="totalAmt"></th>
                    </tr>
                    </tfoot>
                </table>
                <div class="col-sm-6 text-md-right">
                    <button type="submit" class="btn btn-primary">
                        저장
                    </button>
                    <button type="reset" class="btn btn-danger">
                        초기화
                    </button>
                </div>
            </form>
            <!-- Button trigger modal -->
            <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalLabel2">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>데이터가 성공적으로 저장되었습니다.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" tabindex="-1" role="dialog" id="failModal" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>










