<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">AS 관리</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">AS 현황</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableSt" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>체크</th>
                        <th>접수코드</th>
                        <th>담당자</th>
                        <th>접수일자</th>
                        <th>거래처명</th>
                        <th>접수제목</th>
                        <th>진행상태</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="as : ${asEntityList}">
                        <td>
                            <input th:type="checkbox" th:name="selectedSt" th:value="${as.asCd}">
                        </td>
                        <td>
                            <a href="#" id="detailAsCd" th:data-id="${as.asCd}">
                                <span th:text="${as.asCd}"></span>
                            </a>
                        </td>
                        <td th:text="${as.empInfoEntity.empInfoNm}"></td>
                        <td th:text="${as.asDt}"></td>
                        <td th:text="${as.accountEntity.accountNm}"></td>
                        <td th:text="${as.asTi}"></td>
                        <td th:text="${as.asSt}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="createStModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newasLabel">AS 신규 등록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="AsformEntry" th:action="@{/st/as/save}" th:object="${asForm}" method="post">
                                <div class="form-group row">
                                    <label for="currentDate" class="col-sm-2 col-form-label">AS 등록일자</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" id="currentDate">
                                    </div>
                                    <label for="empInfoId" class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-4">
                                        <select id="empInfoId" class="form-control">
                                            <option th:each="emplist : ${getemplist}" th:value="${emplist.empInfoId}"
                                                    th:text="${emplist.empInfoNm}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="accountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="accountCode"
                                               list="accountCodeSelectBox"/>
                                        <datalist id="accountCodeSelectBox">
                                            <option th:each="actlist : ${getactlist}" th:value="${actlist.accountCd}"
                                                    th:text="${actlist.accountNm}"></option>
                                        </datalist>
                                    </div>
                                    <label class="col-sm-2 col-form-label">거래처</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="accountName">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ascmptDt" class="col-sm-2 col-form-label">완료 예정일자</label>
                                    <div class="col-sm-4">
                                        <input type="date" class="form-control" id="ascmptDt">
                                    </div>
                                    <label class="col-sm-2 col-form-label">진행상태</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="asSt">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">접수제목</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="asTi">
                                    </div>
                                    <label for="whregistCode" class="col-sm-2 col-form-label">창고명</label>
                                    <div class="col-sm-4">
                                        <select id="whregistCode" class="form-control">
                                            <option th:each="whregistlist : ${getwhregistlist}"
                                                    th:value="${whregistlist.whregistCd}"
                                                    th:text="${whregistlist.whregistNm}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">접수내용</label>
                                    <div class="col-sm-4">
                                        <textarea name="asMo" id="asMo" class="form-control" rows="5"></textarea>
                                    </div>
                                </div>
                                <table class="table item" id="asitem">
                                    <thead>
                                    <tr>
                                        <th>품목코드</th>
                                        <th>품목명</th>
                                        <th>규격</th>
                                        <th>수량</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <input type="hidden" class="RegisDate" th:field="*{asDtos[0].asDt}">
                                            <input type="hidden" class="AccountCode"
                                                   th:field="*{asDtos[0].accountEntity.accountCd}">
                                            <input type="hidden" class="EmpInfoId"
                                                   th:field="*{asDtos[0].empInfoEntity.empInfoId}">
                                            <input type="hidden" class="WhregistCode"
                                                   th:field="*{asDtos[0].whregistEntity.whregistCd}">
                                            <input type="hidden" class="AsSt" th:field="*{asDtos[0].asSt}">
                                            <input type="hidden" class="AscmptDt" th:field="*{asDtos[0].ascmptDt}">
                                            <input type="hidden" class="AsTi" th:field="*{asDtos[0].asTi}">
                                            <input type="hidden" class="AsMo" th:field="*{asDtos[0].asMo}">
                                            <input type="hidden" class="form-control itemup">

                                            <select class="selectbox form-control"
                                                    th:name="'asDtos[' + 0 + '].itemEntity.itemCd'">
                                                <option value="">품목 선택</option>
                                                <option th:each="itemlist : ${getitemlist}"
                                                        th:value="${itemlist.itemCd}"
                                                        th:data-itemNm="${itemlist.itemNm}"
                                                        th:data-itemStnd="${itemlist.itemStnd}"
                                                        th:text="${itemlist.itemCd}"></option>
                                            </select>
                                        </td>
                                        <td><input type="text" class="form-control itemname"></td>
                                        <td><input type="text" class="form-control itemstnd"></td>
                                        <td><input type="text" class="form-control itemamt"
                                                   th:field="*{asDtos[0].asAmt}"></td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th colspan="3">합계</th>
                                        <th id="totalAmt"></th>
                                    </tr>
                                    </tfoot>
                                </table>
                                <div class="row">
                                    <div class="col-sm-6 text-md-right">
                                        <button type="submit" class="btn btn-primary">
                                            저장
                                        </button>
                                        <button type="reset" class="btn btn-danger">
                                            초기화
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modify Modal -->
            <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="subjectasLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectasLabel">AS 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form class="AsformEntry" th:action="@{/st/as/update}" th:object="${asForm}"
                                          method="post">
                                        <div class="form-group row">
                                            <label for="updateCurrentDate" class="col-sm-2 col-form-label">AS
                                                등록일자</label>
                                            <div class="col-sm-4">
                                                <input type="date" name="asDt" class="form-control"
                                                       id="updateCurrentDate" readonly>
                                            </div>
                                            <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="empInfoEntity.empInfoNm" class="form-control"
                                                       id="updatename" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateaccountCode" class="col-sm-2 col-form-label">거래처
                                                코드</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="accountEntity" class="form-control"
                                                       id="updateaccountCode" readonly>
                                            </div>
                                            <label class="col-sm-2 col-form-label">거래처</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="updateaccountName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateascmptDt" class="col-sm-2 col-form-label">완료 예정일자</label>
                                            <div class="col-sm-4">
                                                <input type="date" name="ascmptDt" class="form-control"
                                                       id="updateascmptDt">
                                            </div>
                                            <label for="updateasSt" class="col-sm-2 col-form-label">진행상태</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="asSt" class="form-control" id="updateasSt">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateasTi" class="col-sm-2 col-form-label">접수제목</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="asTi" class="form-control" id="updateasTi"
                                                       readonly>
                                            </div>
                                            <label for="updatewhregistName" class="col-sm-2 col-form-label">창고명</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="whregistEntity.whregistNm" class="form-control"
                                                       id="updatewhregistName" readonly>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="updateasMo" class="col-sm-2 col-form-label">접수내용</label>
                                            <div class="col-sm-8">
                                                <textarea name="asMo" id="updateasMo" class="form-control"
                                                          rows="5"></textarea>
                                            </div>
                                        </div>
                                        <table class="table Asitem">
                                            <thead>
                                            <tr>
                                                <th>품목코드</th>
                                                <th>품목명</th>
                                                <th>규격</th>
                                                <th>수량</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                        <div class="col-sm-12 text-md-right">
                                            <button type="submit" class="btn btn-primary">저장</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 성공 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="successModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 실패 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="failModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 삭제하는 모달 -->
            <div class="modal fade" id="deleteStModal" tabindex="-1" aria-labelledby="deleteStModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteStModalLabel">AS 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>선택한 AS 정보를 삭제하시겠습니까?</p>
                            <form class="deleteStForm" th:action="@{/st/as/delete}" method="post">
                                <input type="hidden" id="selectedSt" name="selectedas">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="stcddelete">삭제</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>