<!-- check_form.html -->
<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">재고 관리</h1>
    <div class="btn-group" role="group" aria-label="Basic example"></div>
    <!-- DataTales Example -->
    <div class="card shadow mb-3">
        <div class="card-header py-3">
            <div>
                <h6 class="m-0 font-weight-bold text-primary">재고 조회</h6>
            </div>
            <div class="card-body">
                <form th:action="@{/st/check/whitemlist}" method="post">
                    <div class="mb-3">
                        <label for="whmoveDt" class="form-label">기준일자</label>
                        <input type="date" class="form-control col-sm-2" id="whmoveDt" name="date">
                    </div>
                    <input type="submit" value="조회" class="btn btn-primary my-2">
                </form>
            </div>
        </div>
    </div>
</div>
</html>