<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory Table</title>
</head>
<body>
<h2>Inventory Table for <span th:text="${date}"></span></h2>
<table border="1">
    <thead>
    <tr>
        <th>itemNm</th>
        <th>WhmoveGb</th>
        <th>Quantity</th>
        <th>Movement Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="record : ${inventoryRecords}">
        <td th:text="${record.product}"></td>
        <td th:text="${record.whmoveGb}"></td>
        <td th:text="${record.quantity}"></td>
        <td th:text="${record.movementDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>