<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">출하 현황</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>출하코드</th>
                        <th>담당자</th>
                        <th>출하일자</th>
                        <th>거래처명</th>
                        <th>판매번호</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="release : ${releaseEntityList}">
                        <td>
                            <a th:href="@{|/st/release/detail/${release.releaseCd}|}" th:text="${release.releaseCd}"></a>
                        </td>
                        <td th:text="${release.empInfoEntity.empInfoNm}"></td>
                        <td th:text="${release.releaseDt}"></td>
                        <td th:text="${release.accountEntity.accountNm}"></td>
                        <td th:text="${release.saleEntity.saleCd}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>