<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <form class="ReleaseformEntry" th:action="@{/st/release/save}" th:object="${releaseForm}"  method="post">
                <div class="form-group row">
                    <label for="currentDate" class="col-sm-2 col-form-label">출하 등록일자</label>
                    <div class="col-sm-10">
                        <input type="date" class="form-control" id="currentDate" name = "releaseDt">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="saleCd" class="col-sm-2 col-form-label">판매 코드</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="saleEntity.saleCd" id="saleCd" readonly>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" id="selectSaleCd" class="btn btn-primary" data-toggle="modal"
                                data-target="#saledetail">판매 선택
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="updateCurrentDate" class="col-sm-2 col-form-label">판매일자</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="updateCurrentDate" readonly>
                    </div>
                    <label for="updatename" class="col-sm-2 col-form-label">판매 담당자</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="updatename" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">거래처 코드</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="updateaccountCode" readonly>
                    </div>
                    <label class="col-sm-2 col-form-label">거래처</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="updateaccountName" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">창고 코드</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="whregistCode" readonly>
                    </div>
                    <label for="empInfoId" class="col-sm-2 col-form-label">출하 담당자</label>
                    <div class="col-sm-4">
                        <select id="empInfoId" name="empInfoEntity.empInfoId" class="form-control">
                            <option th:each="emplist : ${getemplist}" th:value="${emplist.empInfoId}"
                                    th:text="${emplist.empInfoNm}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">주소</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="releaseAddr" name="releaseAddr">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">수취인</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="releaseRv" name="releaseRv">
                    </div>
                    <label class="col-sm-2 col-form-label">연락처</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="releasePhone" name="releasePhone">
                    </div>

                </div>
                <table class="table item" id="item">
                    <thead>
                    <tr>
                        <th>품목 명</th>
                        <th>품목 코드</th>
                        <th>규격</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>부가세</th>
                        <th>총액</th>
                        <th>비고</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-12 text-md-right">
                        <button type="submit" class="btn btn-primary">저장</button>
                        <button type="reset" class="btn btn-danger" onclick="refreshPage()">초기화</button>
                    </div>
                </div>
            </form>
            <!-- 판매 목록 불러오는 Modal -->
            <div class="modal fade" id="saledetail" tabindex="-1" aria-labelledby="subjectsaleLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectsaleLabel">판매 내역</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table item table-bordered" id="dataTable" width="100%"
                                               cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>판매 코드</th>
                                                <th>창고 명</th>
                                                <th>거래처 명</th>
                                                <th>등록 사원</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="sale : ${getsalelist}">
                                                <td>
                                                    <a href="#" id="detailSaleCd"
                                                       th:data-id="${sale.saleEntity.saleCd}">
                                                        <span th:text="${sale.saleEntity.saleCd}"></span>
                                                    </a>
                                                </td>
                                                <td th:text="${sale.saleEntity.whregistEntity.whregistNm}"></td>
                                                <td th:text="${sale.estimateEntity[0].accountEntity.accountNm}"></td>
                                                <td th:text="${sale.estimateEntity[0].empInfoEntity.empInfoNm}"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade hide" tabindex="-1" role="dialog" id="successModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>데이터가 성공적으로 저장되었습니다.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade hide" tabindex="-1" role="dialog" id="failModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>데이터 저장에 실패하였습니다.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>













