<html layout:decorate="~{layout/default}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>창고코드</th>
            <th>창고명</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="whregistEntity : ${whregistEntityList}">
            <td>
                <a th:href="@{|/st/whregist/detail/${whregistEntity.whregistCd}|}"
                   th:text="${whregistEntity.whregistCd}">
            </td>
            <td th:text="${whregistEntity.whregistNm}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>