<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h5 class="my-3 border-bottom pb-2">창고 등록</h5>
    <div class="btn-group" role="group" aria-label="Basic example">
        <!-- Button trigger modal -->
    <form th:action="@{/whregist/create}" th:object="${whregistForm}" method="post">
        <div class="mb-3">
            <label for="subject" class="form-label">창고코드</label>
            <input type="text" name="subject" id="subject" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">창고명</label>
            <textarea name="content" id="content" class="form-control"></textarea>
        </div>
        <input type="submit" value="저장" class="btn btn-primary my-2">

    </form>
</div>
</html>