<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">창고 관리</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">창고 현황</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableSt" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>체크</th>
                        <th>창고코드</th>
                        <th>창고명</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="whregist : ${whregistEntityList}">
                        <td>
                            <input th:type="checkbox" th:name="selectedSt" th:value="${whregist.whregistCd}">
                        </td>
                        <td>
                        <a href="#" id="detailWhregistCd" th:data-id="${whregist.whregistCd}">
                            <span th:text="${whregist.whregistCd}"></span>
                        </a>
                        </td>
                        <td th:text="${whregist.whregistNm}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="createStModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newwhregistLabel">창고 신규 등록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form class="WhregistformEntry" th:action="@{/st/whregist/save}" th:object="${whregistForm}" method="post">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">창고명</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="whregistNm">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 text-md-right">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 수정 모달-->
            <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="subjectwhregistLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectwhregistLabel">창고 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card shadow mb-4">
                                <div class="card-body">
                                    <form class="WhregistformEntry" th:action="@{/st/whregist/update}" th:object="${whregistForm}" method="post">
                                        <div class="form-group row">
                                            <label for="updatewhregistNm" class="col-sm-2 col-form-label">창고명</label>
                                            <div class="col-sm-4">
                                                <input type="text" name="whregistNm" class="form-control" id="updatewhregistNm">
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-md-right">
                                            <button type="submit" class="btn btn-primary">저장</button>
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 성공 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="successModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">성공</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 실패 창 모달 -->
            <div class="modal fade hide" tabindex="-1" role="dialog" id="failModal" th:data-show-modal="${showModal}">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">실패</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 삭제하는 모달 -->
            <div class="modal fade" id="deleteStModal" tabindex="-1" aria-labelledby="deleteStModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteStModalLabel">창고 삭제</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>선택한 창고 정보를 삭제하시겠습니까?</p>
                            <form class="deleteStForm" th:action="@{/st/whregist/delete}" method="post">
                                <input type="hidden" id="selectedSt" name="selectedwhregist">
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="stcddelete">삭제</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
