<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <form method="post">
                <div class="form-group row">
                    <label for="estimatedate" class="col-sm-2 col-form-label">견적 일자</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="estimatedate">
                    </div>
                    <label for="estimateac" class="col-sm-2 col-form-label">거래처 코드</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="estimateac">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="estimateidname" class="col-sm-2 col-form-label">담당자</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="estimateidname">
                    </div>
                    <label for="estimateacname" class="col-sm-2 col-form-label">거래처</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="estimateacname">
                    </div>
                </div>
                <table class="table" id="estimateitem">
                    <thead>
                    <tr>
                        <th>품목 코드</th>
                        <th>품목 명</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>부가세</th>
                        <th>총액</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  class="esetimate-control" th:object="${estimateDto}"  >
                        <td><input type="text" class="form-control input" id="itemCdInput" th:field="*{itemCd}"></td>
                        <td><input type="text" class="form-control" value="" text=""></td>
                        <td><input type="text" class="form-control" th:field="*{estimateAmt}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateUp}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateSp}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateVat}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateTamt}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateEtc}"></td>
                    </tr>
                    <tr  class="esetimate-control" th:object="${estimateDto}"  >
                        <td><input type="text" class="form-control item" th:field="*{itemCd}"></td>
                        <td><input type="text" class="form-control" value="" text=""></td>
                        <td><input type="text" class="form-control" th:field="*{estimateAmt}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateUp}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateSp}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateVat}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateTamt}"></td>
                        <td><input type="text" class="form-control" th:field="*{estimateEtc}"></td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-sm-6">
                        <input type='button'
                               value='품목 추가'
                               class="btn btn-secondary"
                               id="addnewrowbtn">
                        <input type='button'
                               value='품목 삭제'
                               class="btn btn-danger"
                               id="deleterowbtn">
                    </div>
                    <div class="col-sm-6 text-md-right">
                        <button type="button" class="btn btn-primary">
                            저장
                        </button>
                        <button type="button" class="btn btn-danger">
                            초기화
                        </button>
                    </div>
                </div>

            </form>
            <!-- Button trigger modal -->

        </div>
    </div>
</div>
</html>