<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">영업</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">견적 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>견적 코드</th>
                        <th>거래처 코드</th>
                        <th>사원 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="estimate : ${estimateEntities}">
                        <td th:text="${estimate.estimateCd}"></td>
                        <td th:text="${estimate.accountEntity.accountCd}"></td>
                        <td th:text="${estimate.empInfoEntity.empInfoId}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>