<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">판매 조회</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">판매 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table item table-bordered" id="dataTableEstimate" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>체크</th>
                        <th>판매 코드</th>
                        <th>견적 코드</th>
                        <th>계산서 발급일자</th>
                        <th>계산서 발급 상태</th>
                        <th>결제 일자</th>
                        <th>창고 코드</th>
                        <th>창고</th>
                        <th>출고 상태</th>
                        <th>출고 일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sale : ${saleEntities}">
                        <td>
                            <input th:type="checkbox" name="selectedid" th:value="${sale.saleCd}">
                        </td>
                        <td>
                            <a href="#" id="detailSaleCd" th:data-id="${sale.saleCd}">
                                <span th:text="${sale.saleCd}"></span>
                            </a>
                        </td>
                        <td th:text="${sale.estimateCd}">
                        </td>
                        <td th:text="${sale.saleBillingDt}">
                        </td>
                        <td th:text="${sale.saleBillingSt ? '발행' : '발행 전'}">
                        </td>
                        <td th:text="${sale.salePaymentDt}">
                        </td>
                        <td th:text="${sale.WhregistEntity?.whregistCd}">
                        </td>
                        <td th:text="${sale.WhregistEntity?.whregistNm}">
                        </td>
                        <td th:text="${sale.saleShippingSt}">
                        </td>
                        <td th:text="${sale.saleShippingDt}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="estimatedetail" tabindex="-1" aria-labelledby="subjectestimateLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subjectestimateLabel">견적 내역</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table item table-bordered" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>견적 코드</th>
                                        <th>거래처 명</th>
                                        <th>등록 사원</th>
                                        <th>공급가액</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="estimate : ${estimateEntities}">
                                        <td>
                                            <a href="#" id="detailEstimateCd"
                                               th:data-id="${estimate.estimateCd}">
                                                <span th:text="${estimate.estimateCd}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${estimate.accountEntity.accountNm}"></td>
                                        <td th:text="${estimate.empInfoEntity.empInfoNm}"></td>
                                        <td th:text="${#numbers.formatDecimal(estimate.estimateSp, 0, 'COMMA', 0, 'POINT')} + '원'"></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 삭제 Modal -->
    <div class="modal fade" id="delete" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLabel">판매 삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>선택한 판매 정보를 삭제하시겠습니까?</p>
                    <form class="deleteForm" th:action="@{/ss/sale/delete}" method="post">
                        <input type="hidden" id="selectedid" name="selectedid">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteAll">삭제</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 신규 Modal -->
    <div class="modal fade" id="new" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newsalelabel">판매 신규 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="formEntry" th:action="@{/ss/sale/create}" th:object="${saleDto}" method="post">
                        <div class="form-group row">
                            <label for="currentDate" class="col-sm-2 col-form-label">판매 등록 일자</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control" id="currentDate" name="saleUploadDt">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="currentDate" class="col-sm-2 col-form-label">견적 코드</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="estimateCd" id="estimateCd">
                            </div>
                            <div class="col-sm-2">
                                <button type="button" id="selectEstimateCd" class="btn btn-primary" data-toggle="modal"
                                        data-target="#estimatedetail">견적 선택
                                </button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="updateCurrentDate" class="col-sm-2 col-form-label">견적일자</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="EstimateCurrentDate" readonly>
                            </div>
                            <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="name" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">거래처 코드</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="accountCode" readonly>
                            </div>
                            <label class="col-sm-2 col-form-label">거래처</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="accountName" readonly>
                                <input type="hidden" name="saleShippingSt" th:value="판매대기중">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="whregistCodeSelectBox" class="col-sm-2 col-form-label">창고 코드</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="whregistEntity.whregistCd"
                                       id="whregistCode" list="whregistCodeSelectBox"/>
                                <datalist id="whregistCodeSelectBox">
                                    <option th:each="whregistlist : ${getwhregistlist}"
                                            th:value="${whregistlist.whregistCd}"
                                            th:text="${whregistlist.whregistNm}"></option>
                                </datalist>
                            </div>
                            <label class="col-sm-2 col-form-label">창고명</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="whregistName">
                            </div>
                        </div>
                        <table class="table item">
                            <thead>
                            <tr>
                                <th>품목 명</th>
                                <th>품목 코드</th>
                                <th>규격</th>
                                <th>수량</th>
                                <th>단가</th>
                                <th>공급가액</th>
                                <th>부가세</th>
                                <th>총액</th>
                                <th>비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-12 text-md-right">
                                <button type="submit" class="btn btn-primary">
                                    저장
                                </button>
                                <button type="button" class="btn btn-danger reset">
                                    초기화
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- 수정 Modal -->
    <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="subjectsaleLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subjectsaleLabel">판매 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form class="formEntry" th:action="@{/ss/sale/update}"
                                  th:object="${saleDto}" method="post">
                                <div class="form-group row">
                                    <label for="selectEstimateCd" class="col-sm-2 col-form-label">판매 코드</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control col-sm-10" id="saleCd" name="saleCd">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="updateCurrentDate" class="col-sm-2 col-form-label">판매 등록 일자</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updateCurrentDate" name="saleUploadDt" readonly>
                                    </div>
                                    <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updatename" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="updateaccountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updateaccountCode" readonly>
                                    </div>
                                    <label for="updateaccountName" class="col-sm-2 col-form-label">거래처</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updateaccountName" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">수취인</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="releaseRv">
                                    </div>
                                    <label class="col-sm-2 col-form-label">연락처</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="releasePhone">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">주소</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="releaseAddr">
                                    </div>
                                    <label for="updatewhregistname" class="col-sm-2 col-form-label">창고명</label>
                                    <div class="col-sm-4">
                                        <select id="updatewhregistname" name="whregistEntity.whregistCd" class="form-control">
                                            <option th:each="whregistlist : ${getwhregistlist}"
                                                    th:value="${whregistlist.whregistCd}"
                                                    th:text="${whregistlist.whregistNm}">
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <table class="table item" id="estimateitems">
                                    <thead>
                                    <tr>
                                        <th>품목 명</th>
                                        <th>품목 코드</th>
                                        <th>규격</th>
                                        <th>수량</th>
                                        <th>단가</th>
                                        <th>공급가액</th>
                                        <th>부가세</th>
                                        <th>총액</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type='button'
                                               value='품목 추가'
                                               class="btn btn-secondary addnewrowbtn">
                                        <input type='button'
                                               value='품목 삭제'
                                               class="btn btn-danger deleterowbtn">
                                    </div>
                                    <div class="col-sm-6 text-md-right">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 성공 모달 -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel2">성공</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    등록되었습니다.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 실패 모달 -->
    <div class="modal fade" tabindex="-1" role="dialog" id="failModal" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">실패</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>데이터 저장에 실패하였습니다.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>

</html>