<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">판매 조회</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newestimate">
            신규
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#subjectestimate">
            수정
        </button>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">판매 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table item table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>판매 코드</th>
                        <th>견적 코드</th>
                        <th>계산서 발급일자</th>
                        <th>계산서 발급 상태</th>
                        <th>결제 일자</th>
                        <th>결제 상태</th>
                        <th>출고 코드</th>
                        <th>출고 상태</th>
                        <th>출고 일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="sale : ${saleEntities}">
                        <td th:text="${sale.saleCd}">
                        </td>
                        <td th:text="${sale.estimateCd}">
                        </td>
                        <td th:text="${sale.saleBillingDt}">
                        </td>
                        <td th:text="${sale.saleBillingSt}">
                        </td>
                        <td th:text="${sale.salePaymentDt}">
                        </td>
                        <td th:text="${sale.releaseEntity?.releaseCd}">
                        </td>
                        <td th:text="${sale.saleShippingSt}">
                        </td>
                        <td th:text="${sale.saleShippingDt}">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="newsale" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newsalelabel">판매 신규 등록</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="formEntry" th:action="@{ss/sale/new}" th:object="${saleDto}"
                          method="post">
                        <div class="form-group row">
                            <label for="currentDate" class="col-sm-2 col-form-label">판매 등록 일자</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="currentDate">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="accountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="accountCode"
                                       list="accountCodeSelectBox"/>
                                <datalist id="accountCodeSelectBox">
                                    <option th:each="actlist : ${estimateEntities}" th:value="${actlist.accountCd}"
                                            th:text="${actlist.accountNm}"></option>
                                </datalist>
                            </div>
                            <label for="accountName" class="col-sm-2 col-form-label">거래처</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="accountName">
                            </div>
                        </div>
                        <table class="table item" id="estimateitem">
                            <thead>
                            <tr>
                                <th>품목 명</th>
                                <th>품목 코드</th>
                                <th>규격</th>
                                <th>수량</th>
                                <th>단가</th>
                                <th>공급가액</th>
                                <th>부가세</th>
                                <th>총액</th>
                                <th>비고</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="3">합계</th>
                                <th id="totalAmt"></th>
                                <th id="totalUp"></th>
                                <th id="totalSp"></th>
                                <th id="totalVat"></th>
                                <th id="totalSum"></th>
                                <th></th>
                            </tr>
                            </tfoot>

                        </table>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type='button'
                                       value='품목 추가'
                                       class="btn btn-secondary"
                                       id="addnewrowbtn">
                                <input type='button'
                                       value='품목 삭제'
                                       class="btn btn-danger"
                                       id="deleterowbtn">
                            </div>
                            <div class="col-sm-6 text-md-right">
                                <button type="submit" class="btn btn-primary">저장</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="subjectestimateLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subjectestimateLabel">견적 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <form class="formEntry" th:action="@{/ss/estimate/update}"
                                  th:object="${estimateForm}" method="post">
                                <div class="form-group row">
                                    <label for="updateCurrentDate" class="col-sm-2 col-form-label">견적일자</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updateCurrentDate" readonly>
                                    </div>
                                    <label for="updatename" class="col-sm-2 col-form-label">담당자</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updatename" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="updateaccountCode" class="col-sm-2 col-form-label">거래처 코드</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updateaccountCode" readonly>
                                    </div>
                                    <label for="updateaccountName" class="col-sm-2 col-form-label">거래처</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="updateaccountName" readonly>
                                    </div>
                                </div>
                                <table class="table item">
                                    <thead>
                                    <tr>
                                        <th>품목 명</th>
                                        <th>품목 코드</th>
                                        <th>규격</th>
                                        <th>수량</th>
                                        <th>단가</th>
                                        <th>공급가액</th>
                                        <th>부가세</th>
                                        <th>총액</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input type='button'
                                               value='품목 추가'
                                               class="btn btn-secondary addnewrowbtn">
                                        <input type='button'
                                               value='품목 삭제'
                                               class="btn btn-danger deleterowbtn">
                                    </div>
                                    <div class="col-sm-6 text-md-right">
                                        <button type="submit" class="btn btn-primary">저장</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>