<html layout:decorate="~{layout/default}" >
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">회계</h1>
    <div class="btn-group" role="group" aria-label="Basic example">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newAccount">
            신규
        </button>
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#subjectestimate">
            수정
        </button>

    </div>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">거래처 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>거래처 코드</th>
                            <th>거래처명</th>
                            <th>사업자번호</th>
                            <th>사업장 소재지</th>
                            <th>대표자명</th>
                            <th>업종</th>
                            <th>은행명</th>
                            <th>계좌번호</th>
                            <th>담당자</th>
                            <th>적요</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="account, loop : ${accountList}">
                        <td th:text="${account.accountCd}"></td>
                        <td th:text="${account.accountNm}"></td>
                        <td th:text="${account.accountNb}"></td>
                        <td th:text="${account.accountAdd}"></td>
                        <td th:text="${account.accountRep}"></td>
                        <td th:text="${account.accountSectors}"></td>
                        <td th:text="${account.accountBank}"></td>
                        <td th:text="${account.accountAcnb}"></td>
                        <td th:text="${account.accountPic}"></td>
                        <td th:text="${account.accountEtc}"></td>
                    </tbody>
                </table>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="newAccount" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="newAccountLabel">거래처등록</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body-ac">
                            <form>
                                <div class="form-group row">
                                    <label for="accountCd" class="col-sm-2 col-form-label">거래처 코드</label>
                                    <input type="text" class="form-control col-sm-10" id="accountCd">
                                </div>
                                <div class="form-group row">
                                    <label for="accountCd" class="col-sm-2 col-form-label">거래처명</label>
                                    <input type="text" class="form-control col-sm-10" id="accountNm">
                                </div>
                                <div class="form-group row">
                                    <label for="accountNb" class="col-sm-2 col-form-label">사업자번호</label>
                                    <input type="text" class="form-control col-sm-10" id="accountNb">
                                </div>
                                <div class="form-group row">
                                    <label for="accountAdd" class="col-sm-2 col-form-label">사업장 소재지</label>
                                    <input type="text" class="form-control col-sm-10" id="accountAdd">
                                </div>
                                <div class="form-group row">
                                    <label for="accountRep" class="col-sm-2 col-form-label">대표자명</label>
                                    <input type="text" class="form-control col-sm-10" id="accountRep">
                                </div>
                                <div class="form-group row">
                                    <label for="accountSectors" class="col-sm-2 col-form-label">업종</label>
                                    <input type="text" class="form-control col-sm-10" id="accountSectors">
                                </div>
                                <div class="form-group row">
                                    <label for="accountBank" class="col-sm-2 col-form-label">은행명</label>
                                    <input type="text" class="form-control col-sm-10" id="accountBank">
                                </div>
                                <div class="form-group row">
                                    <label for="accountAcnb" class="col-sm-2 col-form-label">계좌번호</label>
                                    <input type="text" class="form-control col-sm-10" id="accountAcnb">
                                </div>
                                <div class="form-group row">
                                    <label for="accountPic" class="col-sm-2 col-form-label">담당자</label>
                                    <input type="text" class="form-control col-sm-10" id="accountPic">
                                </div>
                                <div class="form-group row">
                                    <label for="accountEtc" class="col-sm-2 col-form-label">적요</label>
                                    <input type="text" class="form-control col-sm-8" id="accountEtc">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="subjectestimate" tabindex="-1" aria-labelledby="subjectestimateLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="subjectestimateLabel">견적 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="flex">
                                    <label class="form-label"></label>
                                    <input type="text" class="form-control form-control-user"
                                           id="컬럼명" placeholder="안쪽 텍스트">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">저장</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>


<!--<div id="accountModal" class="modal">-->
<!--    &lt;!&ndash; Modal content &ndash;&gt;-->
<!--    <div id="modal-content" class="modal">-->
<!--        <span class="close">&times;</span>-->
<!--        <h2>거래처 등록</h2>-->
<!--        <div class="form-group">-->
<!--            <label for="accountCd">거래처코드</label>-->
<!--            <input type="text" id="accountCd" name="accountCd">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountNm">거래처명</label>-->
<!--            <input type="text" id="accountNm" name="accountNm">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountNb">사업자번호</label>-->
<!--            <input type="text" id="accountNb" name="accountNb">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountAdd">사업장 소재지</label>-->
<!--            <input type="text" id="accountAdd" name="accountAdd">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountRep">대표자명</label>-->
<!--            <input type="text" id="accountRep" name="accountRep">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountSectors">업종</label>-->
<!--            <input type="text" id="accountSectors" name="accountSectors">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountBank">은행명</label>-->
<!--            <input type="text" id="accountBank" name="accountBank">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountAcnb">계좌번호</label>-->
<!--            <input type="text" id="accountAcnb" name="accountAcnb">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountPic">담당자</label>-->
<!--            <input type="text" id="accountPic" name="accountPic">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="accountEtc">적요</label>-->
<!--            <input type="text" id="accountEtc" name="accountEtc">-->
<!--        </div>-->
<!--        &lt;!&ndash; Add more form fields here &ndash;&gt;-->
<!--        <button type="submit">저장</button>-->
<!--    </div>-->

<!--</div>-->






