<html layout:decorate="~{layout/default}" >
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">회계</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">거래처 목록</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
        <tr>
            <th>거래처 코드</th>
            <th>거래처명</th>
            <th>사업자번호</th>
            <th>사업장 소재지</th>
            <th>대표자명</th>
            <th>업종</th>
            <th>은행명</th>
            <th>계좌번호</th>
            <th>담당자</th>
            <th>적요</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account, loop : ${accountList}">
            <td th:text="${account.accountCd}"></td>
            <td th:text="${account.accountNm}"></td>
            <td th:text="${account.accountNb}"></td>
            <td th:text="${account.accountAdd}"></td>
            <td th:text="${account.accountRep}"></td>
            <td th:text="${account.accountSectors}"></td>
            <td th:text="${account.accountBank}"></td>
            <td th:text="${account.accountAcnb}"></td>
            <td th:text="${account.accountPic}"></td>
            <td th:text="${account.accountEtc}"></td>
        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>