<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
    <div class="row d-flex align-items-stretch">
        <!-- 달력 카드 -->
        <div class="col-md-8">
            <div class="card shadow mb-4">
                <div class="card-body-bs">
                    <form th:action="@{/ac/is/incomeStatement}" method="get">
                        <table border="1" class="financial-table2">
                            <thead>
                                <tr>
                                    <th colspan="2" class="card-header-title">손익계산서</th>
                                </tr>
                            </thead>
                            <tr>
                                <th class="is">회계연도</th>
                                <th class="card-header-date">
                                    <select class="selectQ" name="isDtForm" onchange="this.form.submit()">
                                        <option value="">회계연도 선택</option>
                                        <option th:each="isDt : ${isDts}"
                                                th:value="${isDt}"
                                                th:text="${isDt} + '년'"
                                                th:selected="${isDt == selectedIsDt}"></option>
                                    </select>
                                </th>
                            </tr>
                            </tr>
                            <tr>
                                <td class="is">매출액</td>
                                <td class="is-num"><span th:if="${incomeStatement != null}" th:text="${'₩ '+#numbers.formatDecimal(incomeStatement.isNetSales, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">매출원가</td>
                                <td class="is-num" ><span th:if="${incomeStatement != null}" th:text="${'₩ '+#numbers.formatDecimal(incomeStatement.isCostSales, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">매출총이익</td>
                                <td class="is-num"><span th:if="${grossProfit != null}" th:text="${'₩ '+#numbers.formatDecimal(grossProfit, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">영업비용</td>
                                <td class="is-num"><span th:if="${operatingExpenses != null}" th:text="${'₩ '+#numbers.formatDecimal(operatingExpenses, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is-is">급여</td>
                                <td class="is-num"><span  th:if="${incomeStatement != null}" th:text="${'₩ '+#numbers.formatDecimal(incomeStatement.isWages, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">영업이익</td>
                                <td class="is-num"><span  th:if="${operatingIncome != null}" th:text="${'₩ '+#numbers.formatDecimal(operatingIncome, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">영업외이익</td>
                                <td class="is-num"><span  th:if="${NonOperatingIncome  != null}" th:text="${'₩ '+#numbers.formatDecimal(nonOperatingIncome, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is-is">이자수익</td>
                                <td class="is-num"><span  th:if="${incomeStatement != null}" th:text="${'₩ '+#numbers.formatDecimal(incomeStatement.isInterInc, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">영업외비용</td>
                                <td class="is-num"><span  th:if="${NonOperatingExpenses  != null}" th:text="${'₩ '+#numbers.formatDecimal(nonOperatingExpenses, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is-is">이자비용</td>
                                <td class="is-num"><span th:if="${incomeStatement != null}" th:text="${'₩ '+#numbers.formatDecimal(incomeStatement.isInterExp, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">법인세 비용 차감전 순이익</td>
                                <td class="is-num"><span  th:if="${earningBeforeTaxes != null}" th:text="${'₩ '+#numbers.formatDecimal(earningBeforeTaxes, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">법인세 비용</td>
                                <td class="is-num"><span th:if="${incomeStatement != null}" th:text="${'₩ '+#numbers.formatDecimal(incomeStatement.isCortaxExp, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                            <tr>
                                <td class="is">당기순이익</td>
                                <td class="is-num"><span  th:if="${netIncome  != null}" th:text="${'₩ '+#numbers.formatDecimal(netIncome, 0, 'COMMA', 0, 'POINT')}"></span></td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>
