<html layout:decorate="~{layout/default}" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // 페이지 로드 시 초기값 설정
            setDefaultDateAndLoadData();

            // input type="date"의 값이 변경되었을 때 동작할 함수
            $('#selectWorkScheduleDate').on('input', function () {
                // 선택된 날짜 가져오기
                var selectedDate = $(this).val();

                // 데이터 로드 함수 호출
                loadWorkScheduleData(selectedDate);
            });
        });

        function setDefaultDateAndLoadData() {
            // 오늘 날짜를 가져오기
            var today = new Date();

            // 날짜를 YYYY-MM-DD 형식으로 변환
            var formattedDate = today.toISOString().split('T')[0];

            // 입력 필드에 초기값 설정
            $('#selectWorkScheduleDate').val(formattedDate);

            // 초기값으로 데이터 로드
            loadWorkScheduleData(formattedDate);
        }

        function loadWorkScheduleData(selectedDate) {
            // Ajax 요청 수행
            $.ajax({
                type: "GET",
                url: "/hr/attendmgtsearch/create",
                data: { selectedDate: selectedDate },
                success: function (data) {
                    var oldOptions = $.extend(true, {}, $('#dataTable').DataTable().settings()[0].oInit);
                    $('#dataTable').DataTable().destroy(); // 기존 인스턴스 파괴
                    $('#dataTable tbody').html(data); // 새로운 HTML 삽입

                    // DataTable 재초기화
                    $('#dataTable').DataTable(oldOptions);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }
    </script>
</head>>
<body>
<div layout:fragment="content" class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <form class="formEntry" th:action="@{/hr/attendmgtsearch/create}" th:object="${workScheduleForm}"
                  method="post" onsubmit="submitForm(event)">
                <div class="form-group row">
                    <label for="selectWorkScheduleDate" class="col-sm-2 col-form-label">날짜</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="selectWorkScheduleDate">
                    </div>
                </div>
            </form>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">근태 목록</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead class="table-dark">
                            <tr>
                                <th>날짜</th>
                                <th>부서</th>
                                <th>이름</th>
                                <th>사유</th>
                            </tr>
                            </thead>
                            <tbody >
                            <tr th:each="work : ${workScheduleList}" th:fragment="attemdmgtsearchTable">
                                <td th:text="${work.workScheduleDate}"></td>
                                <td th:text="${work.empInfoEntity.departEntity.departNm}"></td>
                                <td>
                                    <a href="#" th:onclick="openEditReasonPage([[${work.workScheduleCd}]],[[${work.empInfoEntity.empInfoId}]],[[${work.workScheduleCheck}]],[[${work.workScheduleDate}]],[[${work.workScheduleStartTime}]],[[${work.workScheduleEndTime}]],[[${work.workScheduleReason}]])"
                                       style="color: blue; cursor: pointer;">
                                        <span th:text="${work.empInfoEntity.empInfoNm}" class="reason-cd"></span>
                                    </a>
                                </td>
                                <td th:text="${work.workScheduleReason}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 하이퍼링크로 수정하는 모달 -->
            <div  class="modal fade" id="updateNoteModal" tabindex="-1" aria-labelledby="updateNoteModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="employeeModalLabel">사유명 수정</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row no-gutters">
                                <div class="col-md-8 mb-3">
                                    <form id="updateAttendmgtsearchForm" th:action="@{/hr/attendmgtsearch/update}" method="post">
                                        <!--부서코드-->
                                        <div class ="form-group">
                                            <label for="workScheduleCd">출퇴근식별자</label>
                                            <input type="text" class="form-control" id="workScheduleCd" name="workScheduleCd" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="empInfoId">사원id</label>
                                            <input type="text" class="form-control" id="empInfoId" name="empInfoId" readonly>
                                        </div>
                                        <div class ="form-group">
                                            <label for="workScheduleDate">날짜</label>
                                            <input type="text" class="form-control" id="workScheduleDate" name="workScheduleDate" readonly>
                                        </div>
                                        <div class ="form-group">
                                            <label for="workScheduleStartTime">출근시간</label>
                                            <input type="text" class="form-control" id="workScheduleStartTime" name="workScheduleStartTime">
                                        </div>
                                        <div class ="form-group">
                                            <label for="workScheduleEndTime">퇴근시간</label>
                                            <input type="text" class="form-control" id="workScheduleEndTime" name="workScheduleEndTime">
                                        </div>
                                        <div class="form-group">
                                            <label for="reasonCd">사유</label>
                                            <select class="form-control" id="reasonCd" name="reasonCd">
                                                <option th:each="re : ${reasonLists}" th:value="${re.reasonNm}" th:text="${re.reasonNm}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="workScheduleCheck">정상 출석 여부</label>
                                            <select class="form-control" id="workScheduleCheck" name="workScheduleCheck">
                                                <option value="0">정상 출석</option>
                                                <option value="1">정상 출석 아님</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <!-- submit 버튼을 추가하고 폼 전송을 위한 액션을 지정 -->
                            <button type="button" class="btn btn-primary" onclick="updateAttendmgtsearch()">저장</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function openEditReasonPage(workScheduleCd,empinfoId,workScheduleCheck,workScheduleDate,workScheduleStartTime,workScheduleEndTime,workScheduleReason){
            $('#updateNoteModal').modal('show');
            $('#workScheduleCd').val(workScheduleCd);
            $('#empInfoId').val(empinfoId);
            $('#workScheduleCheck').val(workScheduleCheck);
            $('#workScheduleDate').val(workScheduleDate);
            $('#workScheduleStartTime').val(workScheduleStartTime);
            $('#workScheduleEndTime').val(workScheduleEndTime);
            $('#workScheduleReason').val(workScheduleReason);
        }
        function updateAttendmgtsearch(){
            document.getElementById("updateAttendmgtsearchForm").submit();
            alert('수정되었습니다.')
        }
    </script>
</div>
</body>
</html>
