<html layout:decorate="~{layout/default}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">대단위 이름</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">사원정보</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>입사일자</th>
                        <th>사원ID</th>
                        <th>이름</th>
                        <th>부서명</th>
                        <th>직위</th>
                        <th>email</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employeeInfoList}">
                        <td th:text="${employee.empInfoJoinDt}"></td>
                        <td th:text="${employee.empInfoId}"></td>
                        <td th:text="${employee.empInfoNm}"></td>
                        <td th:text="${employee.departEntity.departNm}"></td>
                        <td th:text="${employee.positionEntity.positionNm}"></td>
                        <td th:text="${employee.empInfoEmail}"></td>
                    </tr>
<!--                    <tr th:each="employee : ${employeeInfoList}">-->
<!--                        <td th:if="${employee.empInfoJoinDt}" th:text="${employee.empInfoJoinDt}"></td>-->
<!--                        <td th:if="${employee.empInfoId}" th:text="${employee.empInfoId}"></td>-->
<!--                        <td th:if="${employee.empInfoNm}" th:text="${employee.empInfoNm}"></td>-->
<!--                        <td th:if="${employee.departEntity}" th:text="${employee.departEntity}"></td>-->
<!--                        <td th:if="${employee.positionEntity}" th:text="${employee.positionEntity.}"></td>-->
<!--                        <td th:if="${employee.empInfoEmail}" th:text="${employee.empInfoEmail}"></td>-->

<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>