<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">사원등록</h5>
    <form>
        <div class="mb-3">
            <label>이름
                <input type="text">
            </label>
        </div>
        <div class="mb-3">
            <label >주소
                <input type="text"></input>
            </label>
        </div>
        <input type="submit" value="등록하기" class="btn btn-primary my-2">
        <button formaction="/sixbeam/home" class="btn btn-primary my-2">처음으로</button>
    </form>
</div>
</html>