<!--1. create(0)-->
<!--2. 하이퍼링크로 update(0)-->
<!--3. 수정버튼으로 update(0)-->
<!--4. delete(0)-->
<!--5. 여러개 삭제(0)-->
<!--6. 여러개 수정(0)-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content" class="container-fluid">

    <!-- 큰제목 -->
    <h1 class="h3 mb-2 text-gray-800">직책</h1>
    <div class = "btn-group" role = "group" aria-label = "Basic example">
        <!-- 등록버튼 -->
        <button type = "button" class = "btn btn-primary" data-toggle = "modal" data-target = "#newestimate">
            등록
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" onclick="updateSelectedPosition()">
            수정
        </button>
        <!-- 삭제 버튼 -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deletePositionModal">
            삭제
        </button>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">직책</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead class="table-dark">
                    <tr>
                        <th>체크</th>
                        <th>직책코드</th>
                        <th>직책명</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="position: ${positionList}">
                        <td>
                            <input th:type="checkbox" th:name="selectedPositions" th:value="${position.positionCd}">
                        </td>
                        <td>
                            <a href="#" th:onclick="openEditPositionPage([[${position.positionCd}]],[[${position.positionNm}]])"
                               style="color: blue; cursor: pointer;">
                                <span th:text="${position.positionCd}" class="position-cd"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" th:onclick="openEditPositionPage([[${position.positionCd}]],[[${position.positionNm}]])"
                               style="color: blue; cursor: pointer;">
                                <span th:text="${position.positionNm}" class="position-nm"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 하이퍼링크로 수정하는 모달 -->
    <div  class="modal fade" id="updateNoteModal" tabindex="-1" aria-labelledby="updateNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeeModalLabel">직책명 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-md-8 mb-3">
                            <form id="updatePositionForm" th:action="@{/hr/position/update}" method="post">
                                <!--부서코드-->
                                <div class ="form-group">
                                    <label for="positionCd">직책코드</label>
                                    <input type="text" class="form-control" id="positionCd" name="positionCd" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="positionNm">부서명</label>
                                    <input type="text" class="form-control" id="positionNm" name="positionNm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- submit 버튼을 추가하고 폼 전송을 위한 액션을 지정 -->
                    <button type="button" class="btn btn-primary" onclick="updatePosition()">저장</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 등록하는 모달 -->
    <div class = "modal fade" id = "newestimate" tabindex = "-1" aria-labelledby = "exampleModalLabel"
         aria-hidden = "true">
        <div class = "modal-dialog modal-dialog-centered">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title" id = "newestimateLabel">직책등록</h5>
                    <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                        <span aria-hidden = "true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-md-8 mb-3">
                            <form id="createPositionForm" th:action="@{/hr/position/create}" th:method="post">
                                <!--부서코드-->
                                <div class="from-group">
                                    <label for="createPositionCd">직책코드</label>
                                    <input type="text" class="form-control" id="createPositionCd" name="createPositionCd" readonly>
                                </div>
                                <!--부서명-->
                                <div class="form-group">
                                    <label for="createPositionNm">직책명</label>
                                    <input type="text" class="form-control" id="createPositionNm" name="createPositionNm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- submit 버튼을 추가하고 폼 전송을 위한 액션을 지정 -->
                    <button type="button" class="btn btn-primary" onclick="createPosition()">저장</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제하는 모달 -->
    <div class="modal fade" id="deletePositionModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEmployeeModalLabel">직책 삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>선택한 직책을 삭제하시겠습니까?</p>
                    <form id="deletePositionForm" th:action="@{/hr/position/delete}" method="post">
                        <input type="hidden" id="selectedPositionsInput" name="selectedPositions">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteSelectedPosition()">삭제</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function openEditPositionPage(positionCd,positionNm){
            $('#updateNoteModal').modal('show');
            $('#positionCd').val(positionCd);
            $('#positionNm').val(positionNm);
        }
        function updatePosition(){
            document.getElementById("updatePositionForm").submit();
            alert('수정되었습니다.')
        }
        function updateSelectedPosition() {
            var positionList = /*[[${positionList}]]*/ [];
            var selectedPositions = [];
            $('input[name="selectedPositions"]:checked').each(function () {
                selectedPositions.push($(this).val());
            });

            if (selectedPositions.length === 0) {
                alert('선택된 항목이 없습니다.');
            } else {
                // 새로운 모달창 생성
                var newModal = $('<div class="modal fade" id="updateMultiplePositionModal" tabindex="-1" role="dialog" aria-labelledby="updateMultiplePositionModalLabel" aria-hidden="true">' +
                '<div class="modal-dialog modal-dialog-scrollable">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<h5 class="modal-title" id="updateMultiplePositionModalLabel">여러 개의 직책 수정</h5>' +
                '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
                '</button>' +
                '</div>' +
                '<div class="modal-body" id="multiplePositionModalBodyContent"></div>' +
                '<div class="modal-footer">' +
                '<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>');

                // 선택된 체크박스의 정보로 모달창에 데이터 채우기
                var hyperlinksHtml = '';

                selectedPositions.forEach(function (positionCd) {
                    var position = positionList.find(function (po) {
                        return po.positionCd == positionCd;
                    });

                    if (position) {
                        // 하이퍼링크 추가
                        hyperlinksHtml += '<a href="#" onclick="openEditPositionPage(' +
                        position.positionCd + ',\'' +
                        position.positionNm + '\')" style="color: blue; cursor: pointer;">' +
                        position.positionCd + '</a><br>';
                    }
                });

                // 모달창에 하이퍼링크 추가
                newModal.find('#multiplePositionModalBodyContent').html(hyperlinksHtml);

                // 기존의 모달창 닫기
                $('#updateNotePositionModal').modal('hide');

                // 하이퍼링크 클릭 시 새로운 모달창 닫기
                newModal.find('a').click(function () {
                    newModal.modal('hide');
                });

                // 모달창 열기
                newModal.modal('show');
            }
        }

        function createPosition(){
            document.getElementById("createPositionForm").submit();
            alert('추가되었습니다.')
        }
        function deleteSelectedPosition(){
            var selectedPositions = [];
            $('input[name="selectedPositions"]:checked').each(function(){
                selectedPositions.push($(this).val());
            });
            if(selectedPositions.length === 0){
                alert('선택된 항목이 없습니다.');
            }else{
                $('#selectedPositionsInput').val(selectedPositions.join(', '));
                document.getElementById("deletePositionForm").submit();
                $('#deletePositionModal').modal('hide');
                alert('삭제됨');
            }
        }
    </script>
</div>
</body>
</html>