<!--1. create(0)-->
<!--2. 하이퍼링크로 update(0)-->
<!--3. 수정버튼으로 update(0)-->
<!--4. delete(0)-->
<!--5. 여러개 삭제(0)-->
<!--6. 여러개 수정(0)-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Information</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
</head>
<body>
<div layout:fragment="content" class="container-fluid">

    <!-- 큰제목 -->
    <h1 class="h3 mb-2 text-gray-800">사유</h1>
    <div class = "btn-group" role = "group" aria-label = "Basic example">
        <!-- 등록버튼 -->
        <button type = "button" class = "btn btn-primary" data-toggle = "modal" data-target = "#newestimate">
            등록
        </button>
        <button type="button" class="btn btn-warning" data-toggle="modal" onclick="updateSelectedReason()">
            수정
        </button>
        <!-- 삭제 버튼 -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteReasonModal">
            삭제
        </button>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">사유</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>체크</th>
                        <th>사유코드</th>
                        <th>사유명</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="reason : ${reasonList}">
                        <td>
                            <input th:type="checkbox" th:name="selectedReasons" th:value="${reason.reasonCd}">
                        </td>
                        <td>
                            <a href="#" th:onclick="openEditReasonPage([[${reason.reasonCd}]],[[${reason.reasonNm}]])"
                               style="color: blue; cursor: pointer;">
                                <span th:text="${reason.reasonCd}" class="reason-cd"></span>
                            </a>
                        </td>
                        <td th:text="${reason.reasonNm}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 하이퍼링크로 수정하는 모달 -->
    <div  class="modal fade" id="updateNoteModal" tabindex="-1" aria-labelledby="updateNoteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="employeeModalLabel">사유명 수정</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-md-8 mb-3">
                            <form id="updateReasonForm" th:action="@{/hr/reason/update}" method="post">
                                <!--부서코드-->
                                <div class ="form-group">
                                    <label for="reasonCd">사유코드</label>
                                    <input type="text" class="form-control" id="reasonCd" name="reasonCd" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="reasonNm">사유명</label>
                                    <input type="text" class="form-control" id="reasonNm" name="reasonNm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- submit 버튼을 추가하고 폼 전송을 위한 액션을 지정 -->
                    <button type="button" class="btn btn-primary" onclick="updateReason()">저장</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 등록하는 모달 -->
    <div class = "modal fade" id = "newestimate" tabindex = "-1" aria-labelledby = "exampleModalLabel"
         aria-hidden = "true">
        <div class = "modal-dialog modal-dialog-centered">
            <div class = "modal-content">
                <div class = "modal-header">
                    <h5 class = "modal-title" id = "newestimateLabel">사유등록</h5>
                    <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                        <span aria-hidden = "true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-md-8 mb-3">
                            <form id="createReasonForm" th:action="@{/hr/reason/create}" th:method="post">
                                <!--부서코드-->
                                <div class="from-group">
                                    <label for="createReasonCd">사유코드</label>
                                    <input type="text" class="form-control" id="createReasonCd" name="createReasonCd" readonly>
                                </div>
                                <!--부서명-->
                                <div class="form-group">
                                    <label for="createReasonNm">사유명</label>
                                    <input type="text" class="form-control" id="createReasonNm" name="createReasonNm">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <!-- submit 버튼을 추가하고 폼 전송을 위한 액션을 지정 -->
                    <button type="button" class="btn btn-primary" onclick="createReason()">저장</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 삭제하는 모달 -->
    <div class="modal fade" id="deleteReasonModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEmployeeModalLabel">부서 삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>선택한 사유를 삭제하시겠습니까?</p>
                    <form id="deleteReasonForm" th:action="@{/hr/reason/delete}" method="post">
                        <input type="hidden" id="selectedReasonsInput" name="selectedReasons">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="deleteSelectedReason()">삭제</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function openEditReasonPage(reasonCd,reasonNm){
            $('#updateNoteModal').modal('show');
            $('#reasonCd').val(reasonCd);
            $('#reasonNm').val(reasonNm);
        }
        function updateReason(){
            document.getElementById("updateReasonForm").submit();
            alert('수정되었습니다.')
        }
        function updateSelectedReason() {
            var reasonList = /*[[${reasonList}]]*/ [];
            var selectedReasons = [];
            $('input[name="selectedReasons"]:checked').each(function () {
                selectedReasons.push($(this).val());
            });

            if (selectedReasons.length === 0) {
                alert('선택된 항목이 없습니다.');
            } else {
                // 새로운 모달창 생성
                var newModal = $('<div class="modal fade" id="updateMultipleReasonModal" tabindex="-1" role="dialog" aria-labelledby="updateMultipleReasonModalLabel" aria-hidden="true">' +
                '<div class="modal-dialog modal-dialog-scrollable">' +
                '<div class="modal-content">' +
                '<div class="modal-header">' +
                '<h5 class="modal-title" id="updateMultipleReasonModalLabel">여러 개의 이유 수정</h5>' +
                '<button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span>' +
                '</button>' +
                '</div>' +
                '<div class="modal-body" id="multipleReasonModalBodyContent"></div>' +
                '<div class="modal-footer">' +
                '<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>' +
                '</div>' +
                '</div>' +
                '</div>' +
                '</div>');

                // 선택된 체크박스의 정보로 모달창에 데이터 채우기
                var hyperlinksHtml = '';

                selectedReasons.forEach(function (reasonCd) {
                    var reason = reasonList.find(function (re) {
                        return re.reasonCd == reasonCd;
                    });

                    if (reason) {
                        // 하이퍼링크 추가
                        hyperlinksHtml += '<a href="#" onclick="openEditReasonPage(' +
                        reason.reasonCd + ',\'' +
                        reason.reasonNm + '\')" style="color: blue; cursor: pointer;">' +
                        reason.reasonCd + '</a><br>';
                    }
                });

                // 모달창에 하이퍼링크 추가
                newModal.find('#multipleReasonModalBodyContent').html(hyperlinksHtml);

                // 기존의 모달창 닫기
                $('#updateNoteReasonModal').modal('hide');

                // 하이퍼링크 클릭 시 새로운 모달창 닫기
                newModal.find('a').click(function () {
                    newModal.modal('hide');
                });

                // 모달창 열기
                newModal.modal('show');
            }
        }

        function createReason(){
            document.getElementById("createReasonForm").submit();
            alert('추가되었습니다.')
        }
        function deleteSelectedReason(){
            var selectedReasons = [];
            $('input[name="selectedReasons"]:checked').each(function(){
                selectedReasons.push($(this).val());
            });
            if(selectedReasons.length === 0){
                alert('선택된 항목이 없습니다.');
                document.getElementById("deleteReasonForm").submit();
                $('#deleteReasonModal').modal('hide');
            }else{
                $('#selectedReasonsInput').val(selectedReasons.join(', '));
                document.getElementById("deleteReasonForm").submit();
                $('#deleteReasonModal').modal('hide');
                alert('삭제됨');
            }
        }
    </script>
</div>
</body>
</html>