<html layout:decorate = "~{layout/default}">
<div layout:fragment = "content" class = "container-fluid">
	<!-- Page Heading -->
	<h1 class = "h3 mb-2 text-gray-800">생산</h1>
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">자재 명세서</h6>
		</div>
		
		<div class = "card-body">
			<div class = "table-responsive">
				<table class = "table table-bordered" id = "dataTable" width = "100%" cellspacing = "0">
					<thead class = "table-dark">
					<tr>
						<th aria-hidden = "true"></th>
						<th>품목 코드</th>
						<th>품목</th>
						<th>규격</th>
						<th>가격</th>
						<th>상세</th>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each = "item : ${itemEntities}" class = "table-height-pd">
						<td aria-hidden = "true"></td>
						<td th:text = "${item.itemCd}"></td>
						<td th:text = "${item.itemNm}"></td>
						<td th:text = "${item.itemStnd}"></td>
						<td th:text = "|${#numbers.formatInteger(item.itemUp, 0,'COMMA')}원|"></td>
						<!-- Button trigger modal -->
						<td>
							<button type = "button" class = "btn btn-success-pd" data-toggle = "modal"
							        data-target = "#detailItem" id = "detailItembtn"
							        th:if = "${item.itemCd != null and item.itemCd.startsWith('F')}"
							        th:data-id = "${item.itemCd}">
								상세
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			
			<div class = "modal fade" id = "detailItem" tabindex = "-1" aria-labelledby = "detailItemModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered modal-lg">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "detailItemLabel">품목 상세 정보</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<div class = "modal-body">
							<div class = "form-group row">
								<label for = "detailItemCd" class = "col-sm-2 col-form-label">품목 코드</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemCd"
									       name = "itemCd" readonly>
								</div>
								<label for = "detailItemNm" class = "col-sm-2 col-form-label">품목명</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemNm"
									       name = "itemNm" readonly>
								</div>
							</div>
							<div class = "form-group row">
								<label for = "detailItemStnd" class = "col-sm-2 col-form-label">규격</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemStnd"
									       name = "itemStnd" readonly>
								</div>
								<label for = "detailItemUp" class = "col-sm-2 col-form-label">가격</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemUp"
									       name = "itemUp" readonly>
								</div>
							</div>
						</div>
						
						<table class = "table item">
							<thead>
							<tr>
								<th>단품 코드</th>
								<th>품목명</th>
								<th>규격</th>
								<th>수량</th>
								<th>단가</th>
							</tr>
							</thead>
							
							<!-- tbody의 id를 js로 전송하여 ajax로 처리-->
							<tbody id = "ritemDetails">
							
							</tbody>
						</table>
						
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>