<html layout:decorate = "~{layout/default}">
<div layout:fragment = "content" class = "container-fluid">
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">자재 명세서 등록</h6>
		</div>
		
		<div class = "card-body">
			<form class = "formEntryOrder" th:action = "@{/pd/bom/create}" th:object = "${bomForm}" method = "post">
				<div class = "form-group row">
					<label class = "col-sm-1 col-form-label">품목명</label>
					<div class = "col-sm-4">
						<input type = "text" class = "form-control" id = "itemNm" oninput = "checkInput3(event)">
					</div>
					<label class = "col-sm-1 col-form-label">규격</label>
					<div class = "col-sm-4">
						<input type = "text" class = "form-control" id = "itemStnd" oninput = "checkInput3(event)">
					</div>
				</div>
				<div class = "form-group row">
					<label class = "col-sm-1 col-form-label">가격</label>
					<div class = "col-sm-4">
						<input type = "text" class = "form-control" id = "itemup" oninput = "checkInput2(event)">
					</div>
				</div>
				
				<table class = "table order" id = "bominfo">
					<thead>
					<tr>
						<th>규격</th>
						<th>품목 코드</th>
						<th>품목명</th>
						<th>수량</th>
						<th>단가</th>
						<th>가격</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							<select class = "selectbox form-control"
							        th:name = "'bomDtos[' + 0 + '].ritemEntity.itemCd'">
								<!--<option value = "">코드 선택</option>
								<option th:each = "ritemlist : ${getRitemList}"
								        th:value = "${ritemlist.itemCd}"
								        th:data-itemNm = "${ritemlist.itemCd}"
								        th:data-itemStnd = "${ritemlist.itemNm}"
								        th:data-itemUp = "${ritemlist.itemUp}"
								        th:text = "${ritemlist.itemStnd}"></option>-->
								<option value = "">코드 선택</option>
								<option th:each = "ritemlist : ${getItemList}"
								        th:if = "${ritemlist.itemCd.startsWith('R')}"
								        th:value = "${ritemlist.itemCd}"
								        th:data-itemNm = "${ritemlist.itemCd}"
								        th:data-itemStnd = "${ritemlist.itemNm}"
								        th:data-itemUp = "${ritemlist.itemUp}"
								        th:text = "${ritemlist.itemStnd}"></option>
							</select>
							<input type = "hidden" class = "fitemNm" th:name = "'bomDtos[0].fitemEntity.itemNm'">
							<input type = "hidden" class = "fitemStnd" th:name = "'bomDtos[0].fitemEntity.itemStnd'">
							<input type = "hidden" class = "fitemup" th:name = "'bomDtos[0].fitemEntity.itemUp'">
						</td>
						<td>
							<input type = "text" class = "form-control itemCd" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control itemNm" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control itemamt orderAmt"
							       th:name = "'bomDtos[0].bomUseMt'"
							       oninput = "checkInput2(event)">
						</td>
						<td>
							<input type = "text" class = "form-control itemup" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control itemsum" readonly>
						</td>
					</tr>
					
					<!--<tr>
						<td>
							<select class = "selectbox form-control"
							        th:name = "'bomDtos[' + 1 + '].ritemEntity.itemCd'">
								<option value = "">코드 선택</option>
								<option th:each = "ritemlist : ${getitemlist}" th:value = "${ritemlist.itemCd}"
								        th:data-itemNm = "${ritemlist.itemCd}"
								        th:data-itemStnd = "${ritemlist.itemNm}"
								        th:data-itemUp = "${ritemlist.itemUp}"
								        th:text = "${ritemlist.itemStnd}"></option>
							</select>
						</td>
						<td>
							<input type = "text" class = "form-control itemNm" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control itemStnd" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control itemamt" th:field = "*{bomDtos[1].bomUseMt}"
							       oninput = "checkInput2(event)">
						</td>
						<td>
							<input type = "hidden" class = "form-control itemup">
							<input type = "text" class = "form-control itemsum"
							       oninput = "checkInput2(event)" readonly>
						</td>
					</tr>-->
					</tbody>
					<tfoot>
					<tr>
						<th colspan = "4"></th>
						<th style = "text-align: right;">합계</th>
						<th id = "totalUp"></th>
					</tr>
					</tfoot>
				</table>
				
				<div class = "row">
					<div class = "col-sm-6">
						<input type = 'button'
						       value = '품목 추가'
						       class = "btn btn-secondary"
						       id = "addNewOrderbtn">
						<input type = 'button'
						       value = '품목 삭제'
						       class = "btn btn-danger"
						       id = "deleteOrderbtn">
					</div>
					<div class = "col-sm-6 text-md-right">
						<button type = "submit" class = "btn btn-primary" onclick = "createItemFinished()">저장</button>
						<button type = "button" class = "btn btn-danger reset2">초기화</button>
					</div>
				</div>
			</form>
			
			<!-- Button trigger modal -->
			<div class = "modal fade" id = "cannotDeleteModal" tabindex = "-1" role = "dialog"
			     aria-labelledby = "modalLabel" aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "modalLabel">삭제 불가</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							더 이상 삭제할 수 없습니다.
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" id = "successModal" tabindex = "-1" role = "dialog" aria-labelledby = "modalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "modalLabel2">성공</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							등록되었습니다.
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" tabindex = "-1" role = "dialog" id = "failModal" aria-labelledby = "modalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title">실패</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							<p>데이터 저장에 실패하였습니다.</p>
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>

