<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-body">
			<form th:action="@{/pd/bom/save}" id="orinputform" >
				<div class="form-group row">
					<label for="currentDate" class="col-sm-2 col-form-label">발주 일자</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="currentDate">
					</div>
					<label for="orinputname" class="col-sm-2 col-form-label">담당자</label>
					<div class="col-sm-4">
						<select id="orinputname" class="form-control">
							<option value="">담당자 선택</option>
							<option th:each="emplist : ${getemplist}" th:value="${emplist.empInfoId}"
							        th:text="${emplist.empInfoNm}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="accountCodeSelectBox" class="col-sm-2 col-form-label">거래처 코드</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="accountCode" list="accountCodeSelectBox"/>
						<datalist id="accountCodeSelectBox">
							<option th:each="actlist : ${getactlist}" th:value="${actlist.accountCd}"
							        th:text="${actlist.accountNm}"></option>
						</datalist>
					</div>
					<label class="col-sm-2 col-form-label">거래처</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="accountName">
					</div>
				</div>
				<div class="form-group row">
					<label for="accountCodeSelectBox" class="col-sm-2 col-form-label">발주 요청 일자</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="orinputReqDate">
					</div>
					<label class="col-sm-2 col-form-label">납기 일자</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="orinputDlvyDate">
					</div>
				</div>
				<table class="table item" id="orinputitem">
					<thead>
					<tr>
						<th>품목 코드</th>
						<th>품목 명</th>
						<th>규격</th>
						<th>수량</th>
						<th>단가</th>
						<th>공급가액</th>
						<th>부가세</th>
						<th>총액</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							<select class="selectbox form-control">
								<option value="">품목 선택</option>
								<option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemNm}"
								        th:data-itemStnd="${itemlist.itemStnd}"
								        th:data-itemUp="${itemlist.itemUp}"
								        th:text="${itemlist.itemCd}"></option>
							</select>
						</td>
						<td><input type="text" class="form-control itemname"></td>
						<td><input type="text" class="form-control itemstnd"></td>
						<td><input type="text" class="form-control itemamt"></td>
						<td><input type="text" class="form-control itemup"></td>
						<td><input type="text" class="form-control itemsp"></td>
						<td><input type="text" class="form-control itemvar"></td>
						<td><input type="text" class="form-control itemsum"></td>
					</tr>
					<tr>
						<td>
							<select class="selectbox form-control">
								<option value="">품목 선택</option>
								<option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemNm}"
								        th:data-itemStnd="${itemlist.itemStnd}"
								        th:data-itemUp="${itemlist.itemUp}"
								        th:text="${itemlist.itemCd}"></option>
							</select>
						</td>
						<td><input type="text" class="form-control itemname"></td>
						<td><input type="text" class="form-control itemstnd"></td>
						<td><input type="text" class="form-control itemamt"></td>
						<td><input type="text" class="form-control itemup"></td>
						<td><input type="text" class="form-control itemsp"></td>
						<td><input type="text" class="form-control itemvar"></td>
						<td><input type="text" class="form-control itemsum"></td>
					</tr>
					</tbody>
				</table>
				<div class="row">
					<div class="col-sm-6">
						<input type='button'
						       value='품목 추가'
						       class="btn btn-secondary"
						       id="addnewrowbtn">
						<input type='button'
						       value='품목 삭제'
						       class="btn btn-danger"
						       id="deleterowbtn">
					</div>
					<div class="col-sm-6 text-md-right">
						<button type="submit" class="btn btn-primary">
							저장
						</button>
						<button type="reset" class="btn btn-danger">
							초기화
						</button>
					</div>
				</div>
			
			</form>
		
		</div>
	</div>
</div>
</html>