<html layout:decorate = "~{layout/default}">
<div layout:fragment = "content" class = "container-fluid">
	<!-- Page Heading -->
	<h1 class = "h3 mb-2 text-gray-800">생산</h1>
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">완품 리스트</h6>
		</div>
		
		<div class = "card-body">
			<div class = "table-responsive">
				<table class = "table table-bordered" id = "dataTablePd" width = "100%" cellspacing = "0">
					<thead class = "table-dark">
					<tr>
						<th>선택</th>
						<th>품목 코드</th>
						<th>품목</th>
						<th>규격</th>
						<th>가격</th>
						<th>상세</th>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each = "item : ${fitemEntities}" class = "table-height-pd">
						<td>
							<input type = "checkbox" class = "selectedInfo" th:value = "${item.itemCd}">
						</td>
						<td th:text = "${item.itemCd}"></td>
						<td th:text = "${item.itemNm}"></td>
						<td th:text = "${item.itemStnd}"></td>
						<td th:text = "|${#numbers.formatInteger(item.itemUp, 0,'COMMA')}원|"></td>
						<div class = "btn-group" role = "group" aria-label = "Basic example">
							<!-- Button trigger modal -->
							<td>
								<button type = "button" class = "btn btn-success-pd" data-toggle = "modal"
								        data-target = "#detailItem" id = "detailItembtn"
								        th:if = "${item.itemCd != null and item.itemCd.startsWith('F')}"
								        th:data-id = "${item.itemCd}">
									상세
								</button>
							</td>
						</div>
					</tr>
					</tbody>
				</table>
			</div>
			
			<!-- 신규 등록 모달 -->
			<div class = "modal fade" id = "newPd" tabindex = "-1" aria-labelledby = "newPdModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered modal-xl">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "newPdLabel">품목 신규 등록</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<div class = "modal-body">
							<form class = "formEntryOrder" th:action = "@{/pd/bom/fcreate}" th:object = "${bomForm}"
							      method = "post">
								<div class = "form-group row">
									<label class = "col-sm-1 col-form-label">품목명</label>
									<div class = "col-sm-4">
										<input type = "text" class = "form-control" id = "itemNm"
										       oninput = "checkInput3(event)">
									</div>
									<label class = "col-sm-1 col-form-label">규격</label>
									<div class = "col-sm-4">
										<input type = "text" class = "form-control" id = "itemStnd"
										       oninput = "checkInput3(event)">
									</div>
								</div>
								<div class = "form-group row">
									<label class = "col-sm-1 col-form-label">가격</label>
									<div class = "col-sm-4">
										<input type = "text" class = "form-control" id = "itemup"
										       oninput = "checkInput2(event)">
									</div>
								</div>
								
								<table class = "table order" id = "bominfo">
									<thead>
									<tr>
										<th>규격</th>
										<th>품목 코드</th>
										<th>품목명</th>
										<th>수량</th>
										<th>단가</th>
										<th>가격</th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<select class = "selectbox form-control"
											        th:name = "'bomDtos[' + 0 + '].ritemEntity.itemCd'">
												<option value = "">품목 선택</option>
												<option th:each = "ritemlist : ${getRitemList}"
												        th:value = "${ritemlist.itemCd}"
												        th:data-itemNm = "${ritemlist.itemCd}"
												        th:data-itemStnd = "${ritemlist.itemNm}"
												        th:data-itemUp = "${ritemlist.itemUp}"
												        th:text = "${ritemlist.itemStnd}"></option>
											</select>
											<input type = "hidden" class = "fitemNm"
											       th:name = "'bomDtos[0].fitemEntity.itemNm'">
											<input type = "hidden" class = "fitemStnd"
											       th:name = "'bomDtos[0].fitemEntity.itemStnd'">
											<input type = "hidden" class = "fitemup"
											       th:name = "'bomDtos[0].fitemEntity.itemUp'">
										</td>
										<td>
											<input type = "text" class = "form-control itemCd" readonly>
										</td>
										<td>
											<input type = "text" class = "form-control itemNm" readonly>
										</td>
										<td>
											<input type = "text" class = "form-control itemamt orderAmt"
											       th:name = "'bomDtos[0].bomUseMt'"
											       oninput = "checkInput2(event)">
										</td>
										<td>
											<input type = "text" class = "form-control itemup" readonly>
										</td>
										<td>
											<input type = "text" class = "form-control itemsum" readonly>
										</td>
									</tr>
									
									<!--<tr>
										<td>
											<select class = "selectbox form-control"
													th:name = "'bomDtos[' + 1 + '].ritemEntity.itemCd'">
												<option value = "">코드 선택</option>
												<option th:each = "ritemlist : ${getitemlist}" th:value = "${ritemlist.itemCd}"
														th:data-itemNm = "${ritemlist.itemCd}"
														th:data-itemStnd = "${ritemlist.itemNm}"
														th:data-itemUp = "${ritemlist.itemUp}"
														th:text = "${ritemlist.itemStnd}"></option>
											</select>
										</td>
										<td>
											<input type = "text" class = "form-control itemNm" readonly>
										</td>
										<td>
											<input type = "text" class = "form-control itemStnd" readonly>
										</td>
										<td>
											<input type = "text" class = "form-control itemamt" th:field = "*{bomDtos[1].bomUseMt}"
												   oninput = "checkInput2(event)">
										</td>
										<td>
											<input type = "hidden" class = "form-control itemup">
											<input type = "text" class = "form-control itemsum"
												   oninput = "checkInput2(event)" readonly>
										</td>
									</tr>-->
									</tbody>
									<tfoot>
									<tr>
										<th colspan = "4"></th>
										<th style = "text-align: right;">합계</th>
										<th id = "totalUp"></th>
									</tr>
									</tfoot>
								</table>
								
								<div class = "row">
									<div class = "col-sm-6">
										<input type = 'button'
										       value = '품목 추가'
										       class = "btn btn-secondary"
										       id = "addNewOrderbtn">
										<input type = 'button'
										       value = '품목 삭제'
										       class = "btn btn-danger"
										       id = "deleteOrderbtn">
									</div>
									<div class = "col-sm-6 text-md-right">
										<button type = "submit" class = "btn btn-primary"
										        onclick = "createItemFinished()">저장
										</button>
										<button type = "button" class = "btn btn-danger reset2">초기화</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" id = "detailItem" tabindex = "-1"
			     aria-labelledby = "detailItemModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered modal-lg">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "detailItemLabel">품목 상세 정보</h5>
							<button type = "button" class = "close" data-dismiss = "modal"
							        aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<div class = "modal-body">
							<div class = "form-group row">
								<label for = "detailItemCd" class = "col-sm-2 col-form-label"
								       style = "text-align: center">품목 코드</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10"
									       id = "detailItemCd"
									       name = "itemCd" style = "text-align: center" readonly>
								</div>
								<label for = "detailItemNm" class = "col-sm-2 col-form-label"
								       style = "text-align: center">품목명</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10"
									       id = "detailItemNm"
									       name = "itemNm" style = "text-align: center" readonly>
								</div>
							</div>
							<div class = "form-group row">
								<label for = "detailItemStnd" class = "col-sm-2 col-form-label"
								       style = "text-align: center">규격</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10"
									       id = "detailItemStnd"
									       name = "itemStnd" style = "text-align: center" readonly>
								</div>
								<label for = "detailItemUp" class = "col-sm-2 col-form-label"
								       style = "text-align: center">가격</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10"
									       id = "detailItemUp"
									       name = "itemUp" style = "text-align: center" readonly>
								</div>
							</div>
						</div>
						
						<table class = "table item">
							<thead>
							<tr>
								<th>단품 코드</th>
								<th>품목명</th>
								<th>규격</th>
								<th>수량</th>
								<th>단가</th>
							</tr>
							</thead>
							
							<!-- tbody의 id를 js로 전송하여 ajax로 처리-->
							<tbody id = "ritemDetails">
							
							</tbody>
						</table>
						
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">
								닫기
							</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" id = "deletePd" tabindex = "-1"
			     aria-labelledby = "deletePdModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered">
					<div class = "modal-content">
						
						<div class = "modal-header">
							<h5 class = "modal-title" id = "deletePdLabel">품목 삭제</h5>
							<button type = "button" class = "close" data-dismiss = "modal"
							        aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<form id = "deleteForm" action = "/pd/item/fdelete" method = "post">
							<div class = "modal-body-ac">
								<p>선택한 품목을 삭제하시겠습니까?</p>
								<input type = "hidden" name = "itemCd" id = "deletePdInfo" value = ""/>
							</div>
							<div class = "modal-footer">
								<button type = "button" class = "btn btn-danger"
								        onclick = "deleteItemFinished()">삭제
								</button>
								<button type = "button" class = "btn btn-secondary"
								        data-dismiss = "modal">
									취소
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" id = "cannotDeleteModal" tabindex = "-1" role = "dialog"
			     aria-labelledby = "modalLabel" aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "modalLabel">삭제 불가</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							더 이상 삭제할 수 없습니다.
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" tabindex = "-1" role = "dialog" id = "failModal"
			     aria-labelledby = "modalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title">실패</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							<p>데이터 저장에 실패하였습니다.</p>
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>