<html layout:decorate = "~{layout/default}">
<div layout:fragment = "content" class = "container-fluid">
	<!-- Page Heading -->
	<h1 class = "h3 mb-2 text-gray-800">생산</h1>
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">생산 현황/불출 리스트</h6>
		</div>
		
		<div class = "card-body">
			<div class = "table-responsive">
				<table class = "table table-bordered" id = "dataTablePd" width = "100%" cellspacing = "0">
					<thead>
					<tr>
						<th>선택</th>
						<th>작업 지시 코드</th>
						<th>출고 날짜</th>
						<th>담당자</th>
						<th>규격</th>
						<th>수량</th>
						<th>창고</th>
						<th>작업 상태</th>
						<th></th>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each = "inout : ${inoutEntities}" class = "table-height-pd">
						<td>
							<input th:type = "checkbox" th:value = "${inout.inoutCmptCd}">
						</td>
						<td th:text = "${inout.inoutCmptCd}"></td>
						<td th:text = "${inout.inoutDt}"></td>
						<td th:text = "${inout.empInfoEntity.empInfoNm}"></td>
						<td th:text = "${inout.itemEntity.itemStnd}" th:value = "${inout.itemEntity.itemCd}"></td>
						<td th:text = "${inout.orderEntity.orderAmt}"></td>
						<td th:text = "${inout.whregistEntity.whregistNm}" th:value = "${inout.whregistEntity.whregistCd}"></td>
						<td th:text = "${inout.orderEntity.orderSt ? '미완료' : '완료'}"></td>
						<div class = "btn-group" role = "group" aria-label = "Basic example">
							<!-- Button trigger modal -->
							<td>
								<button type = "button" class = "btn btn-success-pd" data-toggle = "modal">
									<!--data-target = "#detailInout" id = "detailOrderbtn"
									th:if = "${inout.orderSt != null and !inout.orderSt}"
									th:data-id = "${inout.inoutCmptCd}">-->
									상세
								</button>
							</td>
						</div>
					</tr>
					</tbody>
				</table>
			</div>
			
			<div class = "modal fade" id = "detailPd" tabindex = "-1" aria-labelledby = "detailPdModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered modal-lg">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "detailItemLabel">작업 지시서 상세 정보</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<div class = "modal-body">
							<div class = "form-group row">
								<label for = "detailItemCd" class = "col-sm-2 col-form-label"
								       style = "text-align: center">품목 코드</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemCd"
									       name = "itemCd" style = "text-align: center" readonly>
								</div>
								<label for = "detailItemNm" class = "col-sm-2 col-form-label"
								       style = "text-align: center">품목명</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemNm"
									       name = "itemNm" style = "text-align: center" readonly>
								</div>
							</div>
							<div class = "form-group row">
								<label for = "detailItemStnd" class = "col-sm-2 col-form-label"
								       style = "text-align: center">규격</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemStnd"
									       name = "itemStnd" style = "text-align: center" readonly>
								</div>
								<label for = "detailItemUp" class = "col-sm-2 col-form-label"
								       style = "text-align: center">가격</label>
								<div class = "col-sm-4">
									<input type = "text" class = "form-control col-sm-10" id = "detailItemUp"
									       name = "itemUp" style = "text-align: center" readonly>
								</div>
							</div>
						</div>
						
						<table class = "table item">
							<thead>
							<tr>
								<th>단품 코드</th>
								<th>품목명</th>
								<th>규격</th>
								<th>수량</th>
								<th>단가</th>
							</tr>
							</thead>
							
							<!-- tbody의 id를 js로 전송하여 ajax로 처리-->
							<tbody id = "ritemDetails">
							
							</tbody>
						</table>
						
						<div class = "modal-footer">
							<!--<button type = "submit" class = "btn btn-danger" th:onclick = "createItemFinished()">수정
							</button>-->
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>
</html>