<html layout:decorate = "~{layout/default}">
<div layout:fragment = "content" class = "container-fluid">
	<!-- Page Heading -->
	<h1 class = "h3 mb-2 text-gray-800">생산</h1>
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">생산 현황/불출 리스트</h6>
		</div>
		
		<div class = "card-body">
			<div class = "table-responsive">
				<table class = "table table-bordered" id = "dataTable" width = "100%" cellspacing = "0">
					<thead class = "table-dark">
					<tr>
						<th>생산 완료 코드</th>
						<th>출고 날짜</th>
						<th>담당자</th>
						<th>규격</th>
						<th>수량</th>
						<th>창고</th>
						<th>작업 상태</th>
						<th>상세</th>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each = "inout : ${inoutEntities}" class = "table-height-pd">
						<td th:text = "${inout.inoutCmptCd}"></td>
						<td th:text = "${inout.inoutDt}"></td>
						<td th:text = "${inout.empInfoEntity.empInfoNm}"></td>
						<td th:text = "${inout.itemEntity.itemStnd}" th:value = "${inout.itemEntity.itemCd}"></td>
						<td th:text = "${inout.orderEntity.orderAmt}"></td>
						<td th:text = "${inout.whregistEntity.whregistNm}"
						    th:value = "${inout.whregistEntity.whregistCd}"></td>
						<td th:text = "${inout.orderEntity.orderSt ? '미완료' : '완료'}"></td>
						<div class = "btn-group" role = "group" aria-label = "Basic example">
							<!-- Button trigger modal -->
							<td>
								<button type = "button" class = "btn btn-success-pd" data-toggle = "modal"
								        data-target = "#detailInout" id = "detailInoutbtn"
								        th:data-id = "${inout.inoutCmptCd}">
									상세
								</button>
							</td>
						</div>
					</tr>
					</tbody>
				</table>
			</div>
			
			<!-- 상세 모달 -->
			<div class = "modal fade" id = "detailInout" tabindex = "-1" aria-labelledby = "detailPdModalLabel"
			     aria-modal = "true">
				<div class = "modal-dialog modal-dialog-centered modal-xl">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "detailPdLabel">불출 상세 정보</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">×</span>
							</button>
						</div>
						
						<table class = "table inout">
							<thead>
							<tr>
								<th>담당자 코드</th>
								<th>담당자 연락처</th>
								<th>담당자 메일</th>
								<th>단품 코드</th>
								<th>품목명</th>
								<th>창고코드</th>
							</tr>
							</thead>
							
							<!-- tbody의 id를 js로 전송하여 ajax로 처리-->
							<tbody id = "detailInoutList"></tbody>
						</table>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>
</html>