<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
	<div class="card shadow mb-4">
		<div class="card-body">
			<form class="formEntry" th:action="@{/ss/estimate/create}" th:object="${estimateForm}"  method="post">
				<div class="form-group row">
					<label for="currentDate" class="col-sm-2 col-form-label">견적 일자</label>
					<div class="col-sm-4">
						<input type="date" class="form-control" id="currentDate">
					</div>
					<label for="orinputname" class="col-sm-2 col-form-label">담당자</label>
					<div class="col-sm-4">
						<select id="orinputname" class="form-control" >
							<option value="">담당자 선택</option>
							<option th:each="emplist : ${getemplist}" th:value="${emplist.empInfoId}"
							        th:text="${emplist.empInfoNm}"></option>
						</select>
					</div>
				</div>
				<div class="form-group row">
					<label for="accountCodeSelectBox" class="col-sm-2 col-form-label">거래처 코드</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="accountCode" list="accountCodeSelectBox"/>
						<datalist id="accountCodeSelectBox" >
							<option th:each="actlist : ${getactlist}" th:value="${actlist.accountCd}"
							        th:text="${actlist.accountNm}"></option>
						</datalist>
					</div>
					<label class="col-sm-2 col-form-label">거래처</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="accountName">
					</div>
				</div>
				<table class="table item" id="estimateitem">
					<thead class = "table-dark">
					<tr>
						<th>품목 명</th>
						<th>품목 코드</th>
						<th>규격</th>
						<th>수량</th>
						<th>단가</th>
						<th>공급가액</th>
						<th>부가세</th>
						<th>총액</th>
						<th>비고</th>
					</tr>
					</thead>
					<tbody >
					<tr>
						<td>
							<input type="hidden" class="RegisDate" th:field="*{estimateDtos[0].estimateDt}">
							<input type="hidden" class="AccountCode" th:field="*{estimateDtos[0].accountEntity.accountCd}" >
							<input type="hidden" class="estimateNm" th:field="*{estimateDtos[0].estimateNm}">
							<input type="hidden" class="EmpInfoId" th:field="*{estimateDtos[0].empInfoEntity.empInfoId}">
							<input type="text" class="form-control itemname" >
						</td>
						<td>
							<select class="selectbox form-control" th:name="'estimateDtos[' + 0 + '].itemEntity.itemCd'">
								<option value="" >품목 선택</option>
								<option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemCd}"
								        th:data-itemStnd="${itemlist.itemStnd}"
								        th:data-itemUp="${itemlist.itemUp}"
								        th:data-itemNm="${itemlist.itemNm}"
								        th:text="${itemlist.itemCd}"></option>
							</select>
						</td>
						<td>
							<input type="text" class="form-control itemstnd">
						</td>
						<td>
							<input type="text" class="form-control itemamt" th:field="*{estimateDtos[0].estimateAmt}">
						</td>
						<td>
							<input type="text" class="form-control itemup" th:field="*{estimateDtos[0].estimateUp}">
						</td>
						<td>
							<input type="text" class="form-control itemsp" th:field="*{estimateDtos[0].estimateSp}">
						</td>
						<td>
							<input type="text" class="form-control itemvar" th:field="*{estimateDtos[0].estimateVat}">
						</td>
						<td>
							<input type="text" class="form-control itemsum" th:field="*{estimateDtos[0].estimateTamt}">
						</td>
						<td>
							<input type="text" class="form-control" th:field="*{estimateDtos[0].estimateEtc}">
						</td>
					</tr>
					<tr>
						<td>
							<input type="hidden" class="RegisDate" th:field="*{estimateDtos[1].estimateDt}">
							<input type="hidden" class="AccountCode" th:field="*{estimateDtos[1].accountEntity.accountCd}" >
							<input type="hidden" class="estimateNm" th:field="*{estimateDtos[1].estimateNm}">
							<input type="hidden" class="EmpInfoId" th:field="*{estimateDtos[1].empInfoEntity.empInfoId}">
							<input type="text" class="form-control itemname" >
						</td>
						<td>
							<select class="selectbox form-control" th:name="'estimateDtos[' + 1 + '].itemEntity.itemCd'">
								<option value="" >품목 선택</option>
								<option th:each="itemlist : ${getitemlist}" th:value="${itemlist.itemCd}"
								        th:data-itemStnd="${itemlist.itemStnd}"
								        th:data-itemUp="${itemlist.itemUp}"
								        th:data-itemNm="${itemlist.itemNm}"
								        th:text="${itemlist.itemCd}"></option>
							</select>
						</td>
						<td>
							<input type="text" class="form-control itemstnd">
						</td>
						<td>
							<input type="text" class="form-control itemamt" th:field="*{estimateDtos[1].estimateAmt}">
						</td>
						<td>
							<input type="text" class="form-control itemup" th:field="*{estimateDtos[1].estimateUp}">
						</td>
						<td>
							<input type="text" class="form-control itemsp" th:field="*{estimateDtos[1].estimateSp}">
						</td>
						<td>
							<input type="text" class="form-control itemvar" th:field="*{estimateDtos[1].estimateVat}">
						</td>
						<td>
							<input type="text" class="form-control itemsum" th:field="*{estimateDtos[1].estimateTamt}">
						</td>
						<td>
							<input type="text" class="form-control" th:field="*{estimateDtos[1].estimateEtc}">
						</td>
					</tr>
					</tbody>
					<tfoot>
					<tr>
						<th colspan="3">합계</th>
						<th id="totalAmt"></th>
						<th id="totalUp"></th>
						<th id="totalSp"></th>
						<th id="totalVat"></th>
						<th id="totalSum"></th>
						<th></th>
					</tr>
					</tfoot>
				
				</table>
				<div class="row">
					<div class="col-sm-6">
						<input type='button'
						       value='품목 추가'
						       class="btn btn-secondary"
						       id="addnewrowbtn">
						<input type='button'
						       value='품목 삭제'
						       class="btn btn-danger"
						       id="deleterowbtn">
					</div>
					<div class="col-sm-6 text-md-right">
						<button type="submit" class="btn btn-primary">
							저장
						</button>
						<button type="button" class="btn btn-danger">
							초기화
						</button>
					</div>
				</div>
			
			</form>
			<!-- Button trigger modal -->
			<div class="modal fade" id="cannotDeleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">삭제 불가</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							더 이상 삭제할 수 없습니다.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel2">성공</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							등록되었습니다.
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" tabindex="-1" role="dialog" id="failModal" aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">실패</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<p>데이터 저장에 실패하였습니다.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>