<html layout:decorate="~{layout/default}">
<div layout:fragment="content" class="container-fluid">
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">생산</h1>
	
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">견적 목록</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
					<tr>
						<th>품목 코드</th>
						<th>품목명</th>
						<th>규격</th>
						<th>단가</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="item : ${itemEntities}">
						<td th:text="${item.itemEntity.itemCd}"></td>
						<td th:text="${item.itemEntity.itemNm}"></td>
						<td th:text="${item.itemEntity.itemStnd}"></td>
						<td th:text="${item.itemEntity.itemUp}"></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</html>