<html layout:decorate = "~{layout/default}" xmlns = "http://www.w3.org/1999/html">
<div layout:fragment = "content" class = "container-fluid">
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">작업 지시서 등록</h6>
		</div>
		
		<div class = "card-body">
			<form class = "formEntryOrder" th:action = "@{/pd/order/create}" th:object = "${orderForm}" method = "post">
				<div class = "form-group row">
					<label class = "col-sm-1 col-form-label">지시 날짜</label>
					<div class = "col-sm-4">
						<input type = "date" class = "form-control" id = "currentDate">
					</div>
					<label class = "col-sm-1 col-form-label">납기 날짜</label>
					<div class = "col-sm-4">
						<input type = "date" class = "form-control" id = "orderDelivDt">
					</div>
				</div>
				<div class = "form-group row">
					<label class = "col-sm-1 col-form-label">작업 상태</label>
					<div class = "col-sm-1">
						<input type = "checkbox" class = "form-control" id = "orderSt" checked>
					</div>
				</div>
				
				<table class = "table order" id = "orderinfo">
					<thead>
					<tr>
						<th>규격</th>
						<th>품목코드</th>
						<th>품목명</th>
						<th>담당 사원</th>
						<th>사원 코드</th>
						<th>담당자 연락처</th>
						<th>담당자 메일</th>
						<th>수량</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td>
							<select class = "selectbox form-control"
							        th:name = "'orderDtos[' + 0 + '].itemEntity.itemCd'">
								<option value = "">품목 선택</option>
								<option th:each = "fitemlist : ${getFitemList}" th:value = "${fitemlist.itemCd}"
								        th:data-itemNm = "${fitemlist.itemCd}"
								        th:data-itemStnd = "${fitemlist.itemNm}"
								        th:data-itemUp = "${fitemlist.itemUp}"
								        th:text = "${fitemlist.itemStnd}"></option>
							</select>
							<input type = "hidden" class = "orderInstDt" th:name = "'orderDtos[0].orderInstDt'">
							<input type = "hidden" class = "orderDelivDt" th:name = "'orderDtos[0].orderDelivDt'">
							<input type = "hidden" class = "orderSt" th:name = "'orderDtos[0].orderSt'">
						</td>
						<td>
							<input type = "text" class = "form-control itemNm" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control itemStnd" readonly>
						</td>
						<td>
							<select class = "selectbox form-control"
							        th:name = "'orderDtos[' + 0 + '].empInfoEntity.empInfoId'">
								<option value = "">담당자 선택</option>
								<option th:each = "emplist : ${getEmpList}" th:value = "${emplist.empInfoId}"
								        th:data-empId = "${emplist.empInfoId}"
								        th:data-empPhone = "${emplist.empInfoPhone}"
								        th:data-empEmail = "${emplist.empInfoEmail}"
								        th:text = "${emplist.empInfoNm}"></option>
							</select>
						</td>
						<td>
							<input type = "text" class = "form-control empInfoId" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control empInfoPhone" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control empInfoEmail" readonly>
						</td>
						<td>
							<input type = "text" class = "form-control orderAmt" th:name = "'orderDtos[0].orderAmt'"
							       oninput = "checkInput2(event)">
						</td>
					</tr>
					</tbody>
				</table>
				
				<div class = "row">
					<div class = "col-sm-6">
						<input type = 'button'
						       value = '품목 추가'
						       class = "btn btn-secondary"
						       id = "addNewOrderbtn">
						<input type = 'button'
						       value = '품목 삭제'
						       class = "btn btn-danger"
						       id = "deleteOrderbtn">
					</div>
					<div class = "col-sm-6 text-md-right">
						<button type = "submit" class = "btn btn-primary" onclick = "createOrderFinished()">저장</button>
						<button type = "button" class = "btn btn-danger reset2">초기화</button>
					
					</div>
				</div>
			</form>
			
			<!-- Button trigger modal -->
			<div class = "modal fade" id = "cannotDeleteModal" tabindex = "-1" role = "dialog"
			     aria-labelledby = "modalLabel" aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "modalLabel">삭제 불가</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							더 이상 삭제할 수 없습니다.
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" id = "successModal" tabindex = "-1" role = "dialog" aria-labelledby = "modalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "modalLabel2">성공</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							등록되었습니다.
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" tabindex = "-1" role = "dialog" id = "failModal" aria-labelledby = "modalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title">실패</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							<p>데이터 저장에 실패하였습니다.</p>
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>

