<html layout:decorate = "~{layout/default}">
<div layout:fragment = "content" class = "container-fluid">
	<!-- Page Heading -->
	<h1 class = "h3 mb-2 text-gray-800">생산</h1>
	
	<div class = "card shadow mb-4">
		<div class = "card-header py-3" style = "display: flex;">
			<h6 class = "m-0-ac font-weight-bold text-primary">단품 리스트</h6>
		</div>
		
		<div class = "card-body">
			<div class = "table-responsive">
				<table class = "table table-bordered" id = "dataTablePd" width = "100%" cellspacing = "0">
					<thead class = "table-dark">
					<tr>
						<th>선택</th>
						<th>품목 코드</th>
						<th>품목</th>
						<th>규격</th>
						<th>단가</th>
					</tr>
					</thead>
					
					<tbody>
					<tr th:each = "item : ${ritemEntities}" class = "table-height-pd">
						<td>
							<input type = "checkbox" class = "selectedInfo" th:value = "${item.itemCd}">
						</td>
						<td th:text = "${item.itemCd}"></td>
						<td th:text = "${item.itemNm}"></td>
						<td th:text = "${item.itemStnd}"></td>
						<td th:text = "|${#numbers.formatInteger(item.itemUp, 0,'COMMA')}원|"></td>
					</tr>
					</tbody>
				</table>
			</div>
			
			<div class = "modal fade" id = "newPd" tabindex = "-1" aria-labelledby = "newPdModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered modal-m">
					<div class = "modal-content">
						
						<div class = "modal-header">
							<h5 class = "modal-title" id = "newPdLabel">단품 품목 등록</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<form action = "/pd/item/rcreate" method = "post" id = "createform">
							<div class = "modal-body-ac">
								<div class = "form-group row">
									<label for = "itemNm" class = "col-sm-3 col-form-label">품목명</label>
									<input type = "text" class = "form-control col-sm-8" id = "itemNm"
									       name = "itemNm" style = "text-transform: uppercase;"
									       oninput = "checkInput3(event)">
								</div>
								<div class = "form-group row">
									<label for = "itemStnd" class = "col-sm-3 col-form-label">규격</label>
									<input type = "text" class = "form-control col-sm-8" id = "itemStnd"
									       name = "itemStnd" style = "text-transform: uppercase;"
									       oninput = "checkInput3(event)">
								</div>
								<div class = "form-group row">
									<label for = "itemup" class = "col-sm-3 col-form-label">단가</label>
									<input type = "text" class = "form-control col-sm-8" id = "itemup" name = "itemUp"
									       oninput = "checkInput2(event);">
								</div>
							</div>
							
							<div class = "modal-footer">
								<button type = "submit" class = "btn btn-primary" onclick = "createItemFinished()">
									저장
								</button>
								<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!--<div class="modal fade" id="editAccount" tabindex="-1" aria-labelledby="editAccountModalLabel"
			     aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-xl">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="editAccountLabel">단품 정보 수정</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form action="/ac/account/edit" method="post">
							<div class="modal-body-ac">
								<div class="form-group row">
									<label for="editAccountCd" class="col-sm-2 col-form-label">거래처 코드</label>
									<input type="text" class="form-control col-sm-10" id="editAccountCd" name="accountCd" readonly>
								</div>
								<div class="form-group row">
									<label for="editAccountNm" class="col-sm-2 col-form-label">거래처명</label>
									<input type="text" class="form-control col-sm-10" id="editAccountNm" name="accountNm">
								</div>
								<div class="form-group row">
									<label for="editAccountNb" class="col-sm-2 col-form-label">사업자번호</label>
									<input type="text" class="form-control col-sm-10" id="editAccountNb" name="accountNb" readonly>
								</div>
								<div class="form-group row">
									<label for="editAccountAdd" class="col-sm-2 col-form-label">사업장 소재지</label>
									<input type="text" class="form-control col-sm-10" id="editAccountAdd" name="accountAdd">
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-danger" th:onclick="editAccountFinished()">수정</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
							</div>
						</form>
					</div>
				</div>
			</div>-->
			
			<div class = "modal fade" id = "deletePd" tabindex = "-1" aria-labelledby = "deletePdModalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog modal-dialog-centered">
					<div class = "modal-content">
						
						<div class = "modal-header">
							<h5 class = "modal-title" id = "deletePdLabel">품목 삭제</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						
						<form id = "deleteForm" action = "/pd/item/rdelete" method = "post">
							<div class = "modal-body-ac">
								<p>선택한 품목을 삭제하시겠습니까?</p>
								<input type = "hidden" name = "itemCd" id = "deletePdInfo" value = ""/>
							</div>
							<div class = "modal-footer">
								<button type = "button" class = "btn btn-danger" onclick = "deleteItemFinished()">삭제
								</button>
								<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">취소</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" id = "cannotDeleteModal" tabindex = "-1" role = "dialog"
			     aria-labelledby = "modalLabel" aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title" id = "modalLabel">삭제 불가</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							더 이상 삭제할 수 없습니다.
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class = "modal fade" tabindex = "-1" role = "dialog" id = "failModal"
			     aria-labelledby = "modalLabel"
			     aria-hidden = "true">
				<div class = "modal-dialog" role = "document">
					<div class = "modal-content">
						<div class = "modal-header">
							<h5 class = "modal-title">실패</h5>
							<button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
								<span aria-hidden = "true">&times;</span>
							</button>
						</div>
						<div class = "modal-body">
							<p>데이터 저장에 실패하였습니다.</p>
						</div>
						<div class = "modal-footer">
							<button type = "button" class = "btn btn-secondary" data-dismiss = "modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</html>