<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>RMBB</title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link th:href="@{/vendor/fontawesome-free/css/all.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/bar.css}" rel="stylesheet">
    <link th:href="@{/css/btn.css}" rel="stylesheet">
    <link th:href="@{/css/button.css}" rel="stylesheet">
    <link th:href="@{/css/form.css}" rel="stylesheet">
    <link th:href="@{/css/table.css}" rel="stylesheet">
    <link th:href="@{/css/drop.css}" rel="stylesheet">
    <link th:href="@{/css/footer.css}" rel="stylesheet">

    <!-- DataTable -->
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form id="loginForm" th:action="@{/login-process}" method="post">
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger">
                                            사용자ID 또는 비밀번호를 확인해 주세요.
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user"
                                               id="id" name="userid" aria-describedby="emailHelp"
                                               placeholder="id">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user"
                                               id="password" name="pw" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">아이디 기억하기</label>
                                        </div>
                                    </div>
                                    <a href="#" class="btn btn-primary btn-user btn-block"  id="loginButton">
                                        Login
                                    </a>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" data-toggle="modal" data-target="#findpassword">비밀번호 찾기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- 비밀번호 찾는 모달 -->
<div class = "modal fade" id = "findpassword" tabindex = "-1" aria-labelledby = "exampleModalLabel"
     aria-hidden = "true">
    <div class = "modal-dialog modal-dialog-centered">
        <div class = "modal-content">
            <div class = "modal-header">
                <h5 class = "modal-title" id = "newestimateLabel">부서등록</h5>
                <button type = "button" class = "close" data-dismiss = "modal" aria-label = "Close">
                    <span aria-hidden = "true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row no-gutters">
                    <div class="col-md-8 mb-3">
                        <form id="findPasswordForm" class="formEntry" th:action="@{/hr/empinfo/pw}" th:method="post">
                            <!--부서코드-->
                            <div class="from-group">
                                <label for="findEmpInfoId">아이디를 입력하세요</label>
                                <input type="text" class="form-control" id="findEmpInfoId" name="findEmpInfoId">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- submit 버튼을 추가하고 폼 전송을 위한 액션을 지정 -->
                <button type="button" class="btn btn-primary" id="submit" >입력</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/vendor/jquery/jquery.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/contents/ac.js}"></script>
<script th:src="@{/js/contents/hr.js}"></script>
<script th:src="@{/js/contents/pd.js}"></script>
<script th:src="@{/js/contents/pur.js}"></script>
<script th:src="@{/js/contents/ss.js}"></script>
<script th:src="@{/js/contents/st.js}"></script>
</body>

</html>